h1{font-style:bold}

h2{font-weight:normal}

th{padding:10px;text-align:left}
fieldset
{border:none;font-size:15pt}

button{background-color:grey;padding:10px;font-size:10pt;font-weight:bold}

button:hover {
    background-color:green;
    color: white;
}


