<html>

<head>
	<script src="/public/support/jquery-3.1.1.min.js"></script>
	<script src="/public/support/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body class="home">
	<div class="container-fluid">
		<div class="content-wrapper">
			<%- body %>
		</div>
	</div>
		
</body>

</html>