<!DOCTYPE html>
<!-- saved from url=(0029)http://air.citytech.cuny.edu/ -->
<html lang="en-US" class=" js cssanimations csstransitions supports csstransforms3d csstransformspreserve3d">
<!--BEGIN head-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


	<!-- Meta Tags -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AIR Home</title>
	<link rel="dns-prefetch" href="http://maps.googleapis.com/">
	<link rel="dns-prefetch" href="http://maxcdn.bootstrapcdn.com/">
	<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="http://s.w.org/">
	<link rel="alternate" type="application/rss+xml" title="AIR Home » Feed" href="http://air.citytech.cuny.edu/feed/">
	<link rel="alternate" type="application/rss+xml" title="AIR Home » Comments Feed" href="http://air.citytech.cuny.edu/comments/feed/">
	<link rel="alternate" type="application/rss+xml" title="AIR Home » Home Comments Feed" href="http://air.citytech.cuny.edu/sample-page/feed/">
	<script type="text/javascript">
		window._wpemojiSettings = {
			"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
			"ext": ".png",
			"svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
			"svgExt": ".svg",
			"source": {
				"concatemoji": "http:\/\/air.citytech.cuny.edu\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.6"
			}
		};
		! function (a, b, c) {
			function d(a) {
				var b, c, d, e, f = String.fromCharCode;
				if (!k || !k.fillText) return !1;
				switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
					case "flag":
						return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width,
							j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0,
							j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
					case "emoji4":
						return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0,
							j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
				}
				return !1
			}

			function e(a) {
				var c = b.createElement("script");
				c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
			}
			var f, g, h, i, j = b.createElement("canvas"),
				k = j.getContext && j.getContext("2d");
			for (i = Array("flag", "emoji4"), c.supports = {
					everything: !0,
					everythingExceptFlag: !0
				}, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[
				i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
			c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback =
				function () {
					c.DOMReady = !0
				}, c.supports.everything || (g = function () {
					c.readyCallback()
				}, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent(
					"onload", g), b.attachEvent("onreadystatechange", function () {
					"complete" === b.readyState && c.readyCallback()
				})), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
		}(window, document, window._wpemojiSettings);
	</script>
	<script src="public/AIR-Home-RAW_files/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>

	<link rel="stylesheet" id="fblb-css-css" href="public/AIR-Home-RAW_files/fblb.css" type="text/css" media="all">
	<link rel="stylesheet" id="ai1ec_style-css" href="public/AIR-Home-RAW_files/ai1ec_parsed_css.css" type="text/css" media="all">
	<link rel="stylesheet" id="parallaxcss-css" href="public/AIR-Home-RAW_files/parallax.css" type="text/css" media="all">
	<link rel="stylesheet" id="fontawesomecss-css" href="public/AIR-Home-RAW_files/font-awesome.css" type="text/css" media="all">
	<link rel="stylesheet" id="maincss-css" href="public/AIR-Home-RAW_files/style.css" type="text/css" media="all">

	<style id="maincss-inline-css" type="text/css">
		body {
			background-color: #ecebe9;
		}

		.home-content-boxes .content-box {
			background: transparent;
			padding: 30px 10px;
		}

		.content-box p {
			margin: 25px 0 50px 0;
		}

		@media (min-width: 768px) {
			.home-content-boxes .content-box {
				padding: 30px 20px;
				margin: 0 0.98%;
			}
			.home-content-boxes .col-md-3.content-box {
				width: 23%;
			}
			.home-content-boxes .col-md-4.content-box {
				width: 31.33333333%;
			}
			.home-content-boxes .col-md-6.content-box {
				width: 48%;
				margin: 0 0.96%;
			}
			.home-content-boxes .col-md-12.content-box {
				width: 98%;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			.home-content-boxes .col-md-3.content-box {
				padding: 30px 20px 70px 20px;
				width: 23%;
			}
		}

		@media (min-width: 992px) {
			.home-content-boxes .col-md-3.content-box {
				padding: 30px 20px 70px 20px;
				width: 23%;
			}
		}

		@media (max-width: 768px) {
			.cntbox_btn {
				position: relative;
				bottom: 0px;
			}
		}

		.sticky-header .nav {
			float: left;
			margin-left: 25px;
		}

		ul.nav-menu li a:active,
		ul.nav-menu li:active>a,
		ul.nav-menu li a:focus,
		ul.nav-menu li:focus>a,
		ul.nav-menu li a:hover,
		ul.nav-menu li:hover>a,
		ul.nav-menu li:hover,
		ul.nav-menu li a:hover span,
		ul.nav-menu li:hover>a span,
		ul.nav-menu li:hover>.sf-with-ul::after {
			color: #ffffff !important;
		}

		@media (min-width: 1220px) {
			.container,
			#wrapper {
				width: 1200px!important;
			}
		}

		#gmap {
			width: 100%;
			margin: 0 auto;
			height: 415px
		}

		@media only screen and (min-width: 768px) {
			.link-effect a:hover span,
			.link-effect a:focus span {
				-webkit-transform: translateY(-100%);
				-moz-transform: translateY(-100%);
				transform: translateY(-100%);
			}
		}

		.entry-content .thumbnail-post:hover img {
			-webkit-transform: scale(1.1, 1.1);
			-moz-transform: scale(1.1, 1.1);
			-o-transform: scale(1.1, 1.1);
			-ms-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
		}

		.entry-content .thumbnail-post:hover .mask {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}

		.entry-content .thumbnail-post:hover .icon {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
			top: 50%;
			left: 50%;
			margin-top: -21px;
			-webkit-transition-delay: 0.1s;
			-moz-transition-delay: 0.1s;
			-o-transition-delay: 0.1s;
			-ms-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
		/**
 * 1 column (content) fixed layout
 * 
 * @package WPEvoLve
 * @subpackage Layouts
 * @beta
 */

		ul.nav-menu li.nav-hover ul {
			background: #ransparent;
		}

		ul.nav-menu ul li:hover>a,
		ul.nav-menu li.current-menu-item>a,
		ul.nav-menu li.current-menu-ancestor>a {
			border-top-color: #ransparent!important;
		}

		ul.nav-menu li.current-menu-ancestor li.current-menu-item>a,
		ul.nav-menu li.current-menu-ancestor li.current-menu-parent>a {
			border-top-color: #ransparent;
		}

		ul.nav-menu ul {
			border: 1px solid 070007;
			border-bottom: 0;
		}

		ul.nav-menu li {
			border-left-color: 070007;
			border-right-color: #ransparent;
		}

		.menu-header,
		body #header.sticky-header.sticky {
			background: #ransparent;
			background: url(http://air.citytech.cuny.edu/wp-content/themes/evolve/library/media/images/trans.png) 0px -10px repeat-x, -moz-linear-gradient(center top, #ransparent 20%, #070007 100%);
			background: url(http://air.citytech.cuny.edu/wp-content/themes/evolve/library/media/images/trans.png) 0px -10px repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(.2, #ransparent), color-stop(1, #070007)) !important;
			background: url(http://air.citytech.cuny.edu/wp-content/themes/evolve/library/media/images/trans.png) 0px -10px repeat-x, -o-linear-gradient(top, #ransparent, #070007) !important;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ransparent', endColorstr='#070007');
			border-color: #070007;
		}

		#wrapper .dd-options {
			background: #ransparent;
		}

		ul.nav-menu li.current-menu-item,
		ul.nav-menu li.current-menu-ancestor,
		ul.nav-menu li:hover {
			border-right-color: #ransparent!important;
		}

		ul.nav-menu ul,
		ul.nav-menu li li,
		ul.nav-menu li li li,
		ul.nav-menu li li li li,
		#wrapper .dd-options li,
		#wrapper .dd-options {
			border-color: #070007!important;
		}

		#wrapper .dd-container .dd-selected-text,
		#wrapper .dd-options li a:hover,
		#wrapper .dd-options li.dd-option-selected a {
			background: #070007!important;
		}

		.footer {
			background: #ffffff;
		}

		.header-pattern {
			background: #ffffff;
		}

		.menu-back {
			background-color: #007bb5;
			background: -webkit-gradient(radial, center center, 0, center center, 460, from(#007bb5), to(#004a6d));
			background: -webkit-radial-gradient(circle, #007bb5, #004a6d);
			background: -moz-radial-gradient(circle, #007bb5, #004a6d);
			background: -o-radial-gradient(circle, #007bb5, #004a6d);
			background: -ms-radial-gradient(circle, #007bb5, #004a6d);
		}

		.da-dots span {
			background: #00567f
		}

		.title-container #logo {
			float: left;
		}

		.title-container #tagline {
			padding-top: 20px;
		}

		.title-container #logo a {
			padding: 0px 20px 0px 0px;
		}


		.title-container #logo a {
			padding: 0px 20px 0px 3px;
		}

		#logo a {
			font-size: 14px;
		}

		#logo a {
			font-family: Roboto !important;
		}

		#logo a {
			font-weight: 400 !important;
		}

		#logo a {
			color: #ffffff !important;
		}

		#logo a {
			letter-spacing: -.03em;
		}

		#tagline {
			font-size: 14px;
		}

		#tagline {
			font-family: Roboto !important;
		}

		#tagline {
			font-weight: 400 !important;
		}

		#tagline {
			color: #4798e5 !important;
		}

		.entry-title,
		.entry-title a,
		.page-title {
			font-size: 14px !important;
		}

		.entry-title,
		.entry-title a,
		.page-title {
			font-family: Roboto !important;
		}

		.entry-title,
		.entry-title a,
		.page-title {
			font-weight: 400 !important;
		}

		.entry-title,
		.entry-title a,
		.page-title {
			color: #51545c !important;
		}

		textarea,
		.entry-content {
			font-size: 16px !important;
		}

		textarea,
		.entry-content {
			font-family: Roboto !important;
		}

		textarea,
		.entry-content {
			font-weight: 400 !important;
		}

		textarea,
		.entry-content {
			color: #3e5e7c !important;
		}

		textarea,
		.entry-content {
			line-height: 1.5em;
		}

		body {
			color: #3e5e7c !important;
		}

		#sticky-logo a {
			font-size: 14px;
		}

		#sticky-logo a {
			font-family: Roboto !important;
		}

		#sticky-logo a {
			font-weight: 400 !important;
		}

		#sticky-logo a {
			color: #686868 !important;
		}

		#sticky-logo a {
			letter-spacing: -.03em;
		}

		ul.nav-menu a,
		.menu-header,
		#wrapper .dd-container label,
		#wrapper .dd-container a {
			font-size: 16px;
		}

		ul.nav-menu a,
		.menu-header,
		#wrapper .dd-container label,
		#wrapper .dd-container a {
			font-family: Roboto !important;
		}

		ul.nav-menu a,
		.menu-header,
		#wrapper .dd-container label,
		#wrapper .dd-container a {
			font-weight: 400 !important;
		}

		ul.nav-menu a,
		.menu-header,
		#wrapper .dd-container label,
		#wrapper .dd-container a {
			color: #3a3a3a !important;
		}

		#bootstrap-slider .carousel-caption h2 {
			font-size: 20px;
		}

		#bootstrap-slider .carousel-caption h2 {
			font-family: Roboto !important;
		}

		#bootstrap-slider .carousel-caption p {
			font-size: 18px;
		}

		#bootstrap-slider .carousel-caption p {
			font-family: Roboto !important;
		}

		.da-slide h2 {
			font-size: 36px;
		}

		.da-slide h2 {
			font-family: Roboto !important;
		}

		.da-slide p {
			font-size: 18px;
		}

		.da-slide p {
			font-family: Roboto !important;
		}

		#slide_holder .featured-title a {
			font-size: 36px;
		}

		#slide_holder .featured-title a {
			font-family: Roboto !important;
		}

		#slide_holder p {
			font-size: 18px;
		}

		#slide_holder p {
			font-family: Roboto !important;
		}

		.widget-title {
			font-size: 16px;
		}

		.widget-title {
			font-family: PT Sans !important;
		}

		.widget-title {
			font-weight: 400 !important;
		}

		.widget-title {
			color: #333 !important;
		}

		.widget-content,
		.aside,
		.aside a {
			font-size: 16px;
		}

		.widget-content,
		.aside,
		.aside a {
			font-family: Roboto !important;
		}

		.widget-content,
		.aside,
		.aside a {
			font-weight: 100 !important;
		}

		.widget-content,
		.aside,
		.aside a {
			color: #333 !important;
		}

		.widget-content,
		.widget-content a,
		.widget-content .tab-holder .news-list li .post-holder a,
		.widget-content .tab-holder .news-list li .post-holder .meta {
			color: #333 !important;
		}

		.entry-content h1 {
			font-size: 23px;
		}

		.entry-content h1 {
			font-family: Roboto !important;
		}

		.entry-content h1 {
			font-weight: 700 !important;
		}

		.entry-content h1 {
			color: #333333 !important;
		}

		.entry-content h2 {
			font-size: 20px;
		}

		.entry-content h2 {
			font-family: Roboto !important;
		}

		.entry-content h2 {
			font-weight: 700 !important;
		}

		.entry-content h2 {
			color: #333333 !important;
		}

		.entry-content h3 {
			font-size: 18px;
		}

		.entry-content h3 {
			font-family: Roboto !important;
		}

		.entry-content h3 {
			font-weight: 700 !important;
		}

		.entry-content h3 {
			color: #333333 !important;
		}

		.entry-content h4 {
			font-size: 16px;
		}

		.entry-content h4 {
			font-family: Roboto !important;
		}

		.entry-content h4 {
			font-weight: 700 !important;
		}

		.entry-content h4 {
			color: #333333 !important;
		}

		.entry-content h5 {
			font-size: 14px;
		}

		.entry-content h5 {
			font-family: Roboto !important;
		}

		.entry-content h5 {
			font-weight: 700 !important;
		}

		.entry-content h5 {
			color: #333333 !important;
		}

		.entry-content h6 {
			font-size: 14px;
		}

		.entry-content h6 {
			font-family: Roboto !important;
		}

		.entry-content h6 {
			font-weight: 700 !important;
		}

		.entry-content h6 {
			color: #333333 !important;
		}

		ul.primary-menu-cont.nav-menu li:hover ul,
		ul.primary-menu-cont.nav-menu li.nav-hover ul {
			top: 52px;
		}

		#bootstrap-slider .carousel-inner .img-responsive {
			display: block;
			height: auto;
			width: 100%;
		}


		.sticky-header #logo {
			float: left;
			padding: 6px 6px 6px 3px;
		}

		.sticky-header #sticky-logo {
			float: left;
			padding: 0px 6px 0px 3px;
		}

		body #header.sticky-header img#logo-image {
			margin-left: 10px;
		}

		#backtotop {
			left: 2%;
			margin-left: 0;
		}

		#wrapper {
			position: relative;
			margin: 0 auto 30px auto !important;
			background: #f9f9f9;
			box-shadow: 0 0 3px rgba(0, 0, 0, .2);
		}

		#wrapper:before {
			-webkit-box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
			-moz-box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
			box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
			left: 30px;
			right: 30px;
			position: absolute;
			z-index: -1;
			height: 20px;
			bottom: 0px;
			content: "";
			-webkit-border-radius: 100px / 10px;
			-moz-border-radius: 100px / 10px;
			border-radius: 100px / 10px;
		}

		.widget-content {
			background: none!important;
			border: none!important;
			-webkit-box-shadow: none!important;
			-moz-box-shadow: none!important;
			-box-shadow: none!important;
			box-shadow: none!important;
		}

		.widget:after,
		.widgets-holder .widget:after {
			content: none!important;
		}

		a,
		a:hover,
		a:focus,
		.entry-content a:link,
		.entry-content a:active,
		.entry-content a:visited,
		#secondary a:hover,
		#secondary-2 a:hover,
		.tooltip-shortcode,
		#jtwt .jtwt_tweet a:hover,
		.contact_info a:hover,
		.widget .wooslider h2.slide-title a,
		.widget .wooslider h2.slide-title a:hover {
			color: #18a8b2;
		}

		.header {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.header .container {
			padding-left: 30px;
			padding-right: 30px;
		}

		ul.nav-menu>li {
			padding: 0px 13px;
		}

		@media only screen and (max-width: 1220px) {
			body #header.sticky-header {
				margin: 0px !important;
				left: 0px;
			}
		}

		body #header.sticky-header {
			margin-left: -16px;
		}

		body #header.sticky-header {
			margin-left: -15px;
		}

		#rss,
		#email-newsletter,
		#facebook,
		#twitter,
		#instagram,
		#skype,
		#youtube,
		#flickr,
		#linkedin,
		#plus,
		#pinterest,
		#tumblr {
			color: #4486bf;
		}

		.sc_menu li a {
			color: #4486bf;
		}

		#rss,
		#email-newsletter,
		#facebook,
		#twitter,
		#instagram,
		#skype,
		#youtube,
		#flickr,
		#linkedin,
		#plus,
		#pinterest,
		#tumblr {
			font-size: large;
		}

		.sc_menu li a {
			font-size: large;
		}

		.menu-back {
			background-repeat: no-repeat;
		}

		.content-box-1 i {
			color: #d500ed;
		}

		.content-box-2 i {
			color: #0087cc;
		}

		.content-box-3 i {
			color: #0077bb;
		}

		.content-box-4 i {
			color: #0077bb;
		}

		.content {
			background-color: #ffffff
		}

		.t4p-reading-box-container a.button-default,
		button,
		.button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.button.button-3d.button-small,
		.button.default.button-3d.button-small,
		.button.default.small,
		#reviews input#submit,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.bbp-submit-wrapper button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		#wrapper a.read-more,
		input[type="submit"],
		.price_slider_amount button,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external {
			-webkit-box-shadow: 0px 2px 0px #2baf30;
			-moz-box-shadow: 0px 2px 0px #2baf30;
			box-shadow: 0px 2px 0px #2baf30;
		}

		.t4p-reading-box-container a.button-default:active,
		button:active,
		.button:active,
		.bootstrap-button:active,
		input#submit:active,
		.da-slide .da-link:active,
		span.more a:active,
		a.read-more:active,
		a.comment-reply-link:active,
		.entry-content a.t4p-button-default:active,
		.button.button-3d.button-small:active,
		.button.default.button-3d.button-small:active,
		.button.default.small:active,
		#reviews input#submit:active,
		.woocommerce .login .button:active,
		.woocommerce .register .button:active,
		.bbp-submit-wrapper button:active,
		.wpcf7-form input[type="submit"]:active,
		.wpcf7-submit:active,
		#wrapper a.read-more:active,
		input[type="submit"]:active,
		.product-buttons .add_to_cart_button:active,
		.product-buttons .button.product_type_grouped:active,
		.product-buttons .button.product_type_simple:active,
		.product-buttons .button.product_type_external:active {
			-webkit-box-shadow: 0px 1px 0px #2baf30;
			-moz-box-shadow: 0px 1px 0px #2baf30;
			box-shadow: 0px 1px 0px #2baf30;
		}

		.t4p-reading-box-container a.button-default:hover,
		input[type="submit"]:hover,
		button:hover,
		.button:hover,
		.bootstrap-button:hover,
		input#submit:hover,
		.da-slide .da-link:hover,
		span.more a:hover,
		a.read-more:hover,
		a.comment-reply-link:hover,
		.entry-content a.t4p-button-default:hover,
		.button.button-3d.button-small:hover,
		.button.default.button-3d.button-small:hover,
		.button.default.small:hover,
		.t4p-button.button-green.button-3d.button-small:hover,
		.button.green.button-3d.button-small:hover,
		.t4p-button.button-darkgreen.button-3d.button-small:hover,
		.button.darkgreen.button-3d.button-small:hover,
		.t4p-button.button-orange.button-3d.button-small:hover,
		.button.orange.button-3d.button-small:hover,
		.t4p-button.button-blue.button-3d.button-small:hover,
		.button.blue.button-3d.button-small:hover,
		.t4p-button.button-darkblue.button-3d.button-small:hover,
		.button.darkblue.button-3d.button-small:hover,
		.t4p-button.button-red.button-3d.button-small:hover,
		.button.darkred.button-3d.button-small:hover,
		.t4p-button.button-pink.button-3d.button-small:hover,
		.button.pink.button-3d.button-small:hover,
		.t4p-button.button-darkgray.button-3d.button-small:hover,
		.button.darkgray.button-3d.button-small:hover,
		.t4p-button.button-lightgray.button-3d.button-small:hover,
		.button.lightgray.button-3d.button-small:hover,
		#reviews input#submit:hover,
		.woocommerce .login .button:hover,
		.woocommerce .register .button:hover,
		.bbp-submit-wrapper button:hover,
		.wpcf7-form input[type="submit"]:hover,
		.wpcf7-submit:hover,
		#wrapper a.read-more:hover,
		.price_slider_amount button:hover,
		.product-buttons .add_to_cart_button:hover,
		.product-buttons .button.product_type_grouped:hover,
		.product-buttons .button.product_type_simple:hover,
		.product-buttons .button.product_type_external:hover {
			-webkit-box-shadow: 0px 2px 0px #27ed00;
			-moz-box-shadow: 0px 2px 0px #27ed00;
			box-shadow: 0px 2px 0px #27ed00;
		}

		.button.button-3d.button-medium,
		.button.default.button-3d.button-medium,
		.button.default.medium,
		#comment-submit,
		.woocommerce form.checkout #place_order,
		.woocommerce .single_add_to_cart_button,
		.bbp-submit-wrapper button.button-medium,
		.wpcf7-form input[type="submit"].button-medium,
		.wpcf7-submit.button-medium {
			-webkit-box-shadow: 0px 3px 0px #2baf30;
			-moz-box-shadow: 0px 3px 0px #2baf30;
			box-shadow: 0px 3px 0px #2baf30;
		}

		.button.button-3d.button-medium:active,
		.button.default.button-3d.button-medium:active,
		.button.default.medium:active,
		#comment-submit:active,
		.woocommerce form.checkout #place_order:active,
		.woocommerce .single_add_to_cart_button:active,
		.bbp-submit-wrapper button.button-medium:active,
		.wpcf7-form input[type="submit"].button-medium:active,
		.wpcf7-submit.button-medium:active {
			-webkit-box-shadow: 0px 1px 0px #2baf30;
			-moz-box-shadow: 0px 1px 0px #2baf30;
			box-shadow: 0px 1px 0px #2baf30;
		}

		.button.button-3d.button-medium:hover,
		.button.default.button-3d.button-medium:hover,
		.button.default.medium:hover,
		.t4p-button.button-green.button-3d.button-medium:hover,
		.button.green.button-3d.button-medium:hover,
		.t4p-button.button-darkgreen.button-3d.button-medium:hover,
		.button.darkgreen.button-3d.button-medium:hover,
		.t4p-button.button-orange.button-3d.button-medium:hover,
		.button.orange.button-3d.button-medium:hover,
		.t4p-button.button-blue.button-3d.button-medium:hover,
		.button.blue.button-3d.button-medium:hover,
		.t4p-button.button-darkblue.button-3d.button-medium:hover,
		.button.darkblue.button-3d.button-medium:hover,
		.t4p-button.button-red.button-3d.button-medium:hover,
		.button.darkred.button-3d.button-medium:hover,
		.t4p-button.button-pink.button-3d.button-medium:hover,
		.button.pink.button-3d.button-medium:hover,
		.t4p-button.button-darkgray.button-3d.button-medium:hover,
		.button.darkgray.button-3d.button-medium:hover,
		.t4p-button.button-lightgray.button-3d.button-medium:hover,
		.button.lightgray.button-3d.button-medium:hover,
		#comment-submit:hover,
		.woocommerce form.checkout #place_order:hover,
		.woocommerce .single_add_to_cart_button:hover,
		.bbp-submit-wrapper button.button-medium:hover,
		.wpcf7-form input[type="submit"].button-medium:hover,
		.wpcf7-submit.button-medium:hover {
			-webkit-box-shadow: 0px 3px 0px #27ed00;
			-moz-box-shadow: 0px 3px 0px #27ed00;
			box-shadow: 0px 3px 0px #27ed00;
		}

		.button.button-3d.button-large,
		.button.default.button-3d.button-large,
		.button.default.large,
		.bbp-submit-wrapper button.button-large,
		.wpcf7-form input[type="submit"].button-large,
		.wpcf7-submit.button-large {
			-webkit-box-shadow: 0px 4px 0px #2baf30;
			-moz-box-shadow: 0px 4px 0px #2baf30;
			box-shadow: 0px 4px 0px #2baf30;
		}

		.button.button-3d.button-large:active,
		.button.default.button-3d.button-large:active,
		.button.default.large:active,
		.bbp-submit-wrapper button.button-large:active,
		.wpcf7-form input[type="submit"].button-large:active,
		.wpcf7-submit.button-large:active {
			-webkit-box-shadow: 0px 1px 0px #2baf30;
			-moz-box-shadow: 0px 1px 0px #2baf30;
			box-shadow: 0px 1px 0px #2baf30;
		}

		.button.button-3d.button-large:hover,
		.button.default.button-3d.button-large:hover,
		.button.default.large:hover,
		.t4p-button.button-green.button-3d.button-large:hover,
		.button.green.button-3d.button-large:hover,
		.t4p-button.button-darkgreen.button-3d.button-large:hover,
		.button.darkgreen.button-3d.button-large:hover,
		.t4p-button.button-orange.button-3d.button-large:hover,
		.button.orange.button-3d.button-large:hover,
		.t4p-button.button-blue.button-3d.button-large:hover,
		.button.blue.button-3d.button-large:hover,
		.t4p-button.button-darkblue.button-3d.button-large:hover,
		.button.darkblue.button-3d.button-large:hover,
		.t4p-button.button-red.button-3d.button-large:hover,
		.button.darkred.button-3d.button-large:hover,
		.t4p-button.button-pink.button-3d.button-large:hover,
		.button.pink.button-3d.button-large:hover,
		.t4p-button.button-darkgray.button-3d.button-large:hover,
		.button.darkgray.button-3d.button-large:hover,
		.t4p-button.button-lightgray.button-3d.button-large:hover,
		.button.lightgray.button-3d.button-large:hover,
		.bbp-submit-wrapper button.button-large:hover,
		.wpcf7-form input[type="submit"].button-large:hover,
		.wpcf7-submit.button-large:hover {
			-webkit-box-shadow: 0px 4px 0px #27ed00;
			-moz-box-shadow: 0px 4px 0px #27ed00;
			box-shadow: 0px 4px 0px #27ed00;
		}

		.button.button-3d.button-xlarge,
		.button.default.button-3d.button-xlarge,
		.button.default.xlarge,
		.bbp-submit-wrapper button.button-xlarge,
		.wpcf7-form input[type="submit"].button-xlarge,
		.wpcf7-submit.button-xlarge {
			-webkit-box-shadow: 0px 5px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 5px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 5px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
		}

		.button.button-3d.button-xlarge:active,
		.button.default.button-3d.button-xlarge:active,
		.button.default.xlarge:active,
		.bbp-submit-wrapper button.button-xlarge:active,
		.wpcf7-form input[type="submit"].button-xlarge:active,
		.wpcf7-submit.button-xlarge:active {
			-webkit-box-shadow: 0px 2px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 2px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 2px 0px #2baf30, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
		}

		.button.button-3d.button-xlarge:hover,
		.button.default.button-3d.button-xlarge:hover,
		.button.default.xlarge:hover,
		.t4p-button.button-green.button-3d.button-xlarge:hover,
		.button.green.button-3d.button-xlarge:hover,
		.t4p-button.button-darkgreen.button-3d.button-xlarge:hover,
		.button.darkgreen.button-3d.button-xlarge:hover,
		.t4p-button.button-orange.button-3d.button-xlarge:hover,
		.button.orange.button-3d.button-xlarge:hover,
		.t4p-button.button-blue.button-3d.button-xlarge:hover,
		.button.blue.button-3d.button-xlarge:hover,
		.t4p-button.button-darkblue.button-3d.button-xlarge:hover,
		.button.darkblue.button-3d.button-xlarge:hover,
		.t4p-button.button-red.button-3d.button-xlarge:hover,
		.button.darkred.button-3d.button-xlarge:hover,
		.t4p-button.button-pink.button-3d.button-xlarge:hover,
		.button.pink.button-3d.button-xlarge:hover,
		.t4p-button.button-darkgray.button-3d.button-xlarge:hover,
		.button.darkgray.button-3d.button-xlarge:hover,
		.t4p-button.button-lightgray.button-3d.button-xlarge:hover,
		.button.lightgray.button-3d.button-xlarge:hover,
		.bbp-submit-wrapper button.button-xlarge:hover,
		.wpcf7-form input[type="submit"].button-xlarge:hover,
		.wpcf7-submit.button-xlarge:hover {
			-webkit-box-shadow: 0px 5px 0px #27ed00, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0px 5px 0px #27ed00, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
			box-shadow: 0px 5px 0px #27ed00, 1px 7px 7px 3px rgba(0, 0, 0, 0.3);
		}

		.t4p-reading-box-container a.button-default,
		button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button,
		.button,
		.button.default,
		.gform_wrapper .gform_button,
		#comment-submit,
		.woocommerce form.checkout #place_order,
		.woocommerce .single_add_to_cart_button,
		#reviews input#submit,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.woocommerce .button.view,
		.woocommerce .wc-backward,
		.bbp-submit-wrapper button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		input[type="submit"],
		.price_slider_amount button,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external,
		#content .entry-content .product-buttons a:link {
			color: #f4f4f4;
		}

		.t4p-reading-box-container a.button-default:hover,
		button:hover,
		.bootstrap-button:hover,
		input#submit:hover,
		.da-slide .da-link:hover,
		span.more a:hover,
		a.read-more:hover,
		a.comment-reply-link:hover,
		.entry-content a.t4p-button-default:hover,
		.t4p-button:hover,
		.button:hover,
		.button.default:hover,
		.gform_wrapper .gform_button:hover,
		#comment-submit:hover,
		.woocommerce form.checkout #place_order:hover,
		.woocommerce .single_add_to_cart_button:hover,
		#reviews input#submit:hover,
		.woocommerce .login .button:hover,
		.woocommerce .register .button:hover,
		.woocommerce .wc-backward,
		.woocommerce .button.view:hover,
		.bbp-submit-wrapper button:hover,
		.wpcf7-form input[type="submit"]:hover,
		.wpcf7-submit:hover,
		#wrapper a.read-more:hover,
		input[type="submit"]:hover,
		.product-buttons .add_to_cart_button:hover,
		.product-buttons .button.product_type_grouped:hover,
		.product-buttons .button.product_type_simple:hover,
		.product-buttons .button.product_type_external:hover,
		#content .entry-content .product-buttons a:hover {
			color: #ffffff;
		}

		.t4p-reading-box-container a.button-default,
		input[type="submit"],
		button,
		.button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button.button-flat,
		.home-content-boxes .t4p-button {
			text-shadow: none!important;
		}

		.t4p-reading-box-container a.button-default,
		button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button,
		.button,
		.button.default,
		.button-default,
		.gform_wrapper .gform_button,
		#comment-submit,
		.woocommerce form.checkout #place_order,
		.woocommerce .single_add_to_cart_button,
		#reviews input#submit,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.woocommerce-message .wc-forward,
		.woocommerce .wc-backward,
		.woocommerce .button.view,
		.bbp-submit-wrapper button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		#wrapper a.read-more,
		input[type="submit"],
		.price_slider_amount button,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external {
			border-width: 1px;
			border-style: solid;
		}

		.t4p-reading-box-container a.button-default:hover,
		input[type="submit"]:hover,
		button:hover,
		.button:hover,
		.bootstrap-button:hover,
		input#submit:hover,
		.da-slide .da-link:hover,
		span.more a:hover,
		a.read-more:hover,
		a.comment-reply-link:hover,
		.entry-content a.t4p-button-default:hover,
		.t4p-button:hover,
		.button:hover,
		.button.default:hover,
		.t4p-button.button-default:hover,
		#wrapper a.read-more:hover,
		.t4p-accordian .panel-title a.active,
		.price_slider_amount button:hover,
		.button:focus,
		.button:active {
			border-width: 1px;
			border-style: solid;
		}

		.t4p-reading-box-container a.button-default,
		button,
		.button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button,
		.button.default,
		.button-default,
		.gform_wrapper .gform_button,
		#comment-submit,
		.woocommerce form.checkout #place_order,
		.woocommerce .single_add_to_cart_button,
		#reviews input#submit,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.woocommerce-message .wc-forward,
		.woocommerce .wc-backward,
		.woocommerce .button.view,
		.bbp-submit-wrapper button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		#wrapper a.read-more,
		.woocommerce-pagination .current,
		.t4p-accordian .panel-title a.active,
		input[type="submit"],
		.price_slider_amount button,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external,
		.button:focus,
		.button:active {
			border-color: #0ee000;
		}

		.t4p-reading-box-container a.button-default:hover,
		button:hover,
		.bootstrap-button:hover,
		input#submit:hover,
		.da-slide .da-link:hover,
		span.more a:hover,
		a.read-more:hover,
		a.comment-reply-link:hover,
		.entry-content a.t4p-button-default:hover,
		.t4p-button:hover,
		.button:hover,
		.button.default:hover,
		.button-default:hover,
		.gform_wrapper .gform_button:hover,
		#comment-submit:hover,
		.woocommerce form.checkout #place_order:hover,
		.woocommerce .single_add_to_cart_button:hover,
		.woocommerce-message .wc-forward:hover,
		.woocommerce .wc-backward:hover,
		.woocommerce .button.view:hover,
		#reviews input#submit:hover,
		.woocommerce .login .button:hover,
		.woocommerce .register .button:hover,
		.bbp-submit-wrapper button:hover,
		.wpcf7-form input[type="submit"]:hover,
		.wpcf7-submit:hover,
		#wrapper a.read-more:hover,
		.woocommerce-pagination .current:hover,
		input[type="submit"]:hover,
		.price_slider_amount button:hover,
		.product-buttons .add_to_cart_button:hover,
		.product-buttons .button.product_type_grouped:hover,
		.product-buttons .button.product_type_simple:hover,
		.product-buttons .button.product_type_external:hover {
			border-color: #27ed00!important;
		}

		.t4p-reading-box-container a.button-default,
		button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button,
		.button,
		.button.default,
		#comment-submit,
		.woocommerce form.checkout #place_order,
		.woocommerce .single_add_to_cart_button,
		#reviews input#submit,
		.woocommerce .evolve-shipping-calculator-form .button,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.woocommerce-message .wc-forward,
		.woocommerce .wc-backward,
		.woocommerce .button.view,
		.bbp-submit-wrapper button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		a.read-more,
		input[type="submit"],
		.price_slider_amount button,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external {
			border-radius: 0px;
		}

		.t4p-reading-box-container a.button-default,
		button,
		.bootstrap-button,
		input#submit,
		.da-slide .da-link,
		span.more a,
		a.read-more,
		a.comment-reply-link,
		.entry-content a.t4p-button-default,
		.t4p-button,
		.reading-box .button,
		.continue.button,
		#wrapper .portfolio-one .button,
		#wrapper .comment-submit,
		#reviews input#submit,
		.comment-form input[type="submit"],
		.button,
		.button-default,
		.button.default,
		a.read-more,
		.tagcloud a:hover,
		h5.toggle.active a,
		h5.toggle.active a:hover,
		span.more a,
		.project-content .project-info .project-info-box a.button,
		input[type="submit"],
		.price_slider_amount button,
		.gform_wrapper .gform_button,
		.woocommerce-pagination .current,
		.widget_shopping_cart_content .buttons a,
		.woocommerce-success-message a.button,
		.woocommerce .order-again .button,
		.woocommerce-message .wc-forward,
		.woocommerce .wc-backward,
		.woocommerce .button.view,
		.product-buttons .add_to_cart_button,
		.product-buttons .button.product_type_grouped,
		.product-buttons .button.product_type_simple,
		.product-buttons .button.product_type_external,
		.wpcf7-form input.button,
		.wpcf7-form input[type="submit"],
		.wpcf7-submit,
		.woocommerce .single_add_to_cart_button,
		.woocommerce .button.view,
		.woocommerce .shipping-calculator-form .button,
		.woocommerce form.checkout #place_order,
		.woocommerce .checkout_coupon .button,
		.woocommerce .login .button,
		.woocommerce .register .button,
		.woocommerce .evolve-order-details .order-again .button,
		.t4p-accordian .panel-title a.active {
			background: #81d742;

			background-image: -webkit-gradient( linear, left bottom, left top, from( #007bb5), to( #81d742));
			background-image: -webkit-linear-gradient( bottom, #007bb5, #81d742);
			background-image: -moz-linear-gradient( bottom, #007bb5, #81d742);
			background-image: -o-linear-gradient( bottom, #007bb5, #81d742);
			background-image: linear-gradient( to top, #007bb5, #81d742);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81d742', endColorstr='#007bb5');
		}

		.t4p-reading-box-container a.button-default:hover,
		input[type="submit"]:hover,
		button:hover,
		.bootstrap-button:hover,
		input#submit:hover,
		.da-slide .da-link:hover,
		span.more a:hover,
		a.read-more:hover,
		a.comment-reply-link:hover,
		.entry-content a.t4p-button-default:hover,
		.t4p-button:hover,
		#wrapper .portfolio-one .button:hover,
		#wrapper .comment-submit:hover,
		#reviews input#submit:hover,
		.comment-form input[type="submit"]:hover,
		.wpcf7-form input[type="submit"]:hover,
		.wpcf7-submit:hover,
		.bbp-submit-wrapper button:hover,
		.button:hover,
		.button-default:hover,
		.button.default:hover,
		.price_slider_amount button:hover,
		.gform_wrapper .gform_button:hover,
		.woocommerce .single_add_to_cart_button:hover,
		.woocommerce .shipping-calculator-form .button:hover,
		.woocommerce form.checkout #place_order:hover,
		.woocommerce .checkout_coupon .button:hover,
		.woocommerce .login .button:hover,
		.woocommerce .register .button:hover,
		.woocommerce .evolve-order-details .order-again .button:hover,
		.woocommerce .button.view:hover,
		.reading-box .button:hover,
		.continue.button:hover,
		#wrapper .comment-form input[type="submit"]:hover,
		.comment-form input[type="submit"]:hover,
		.button:hover,
		.button .lightgray:hover,
		a.read-more:hover,
		span.more a:hover,
		a.button:hover,
		.woocommerce-pagination .page-numbers.current:hover,
		.product-buttons .add_to_cart_button:hover,
		.product-buttons .button.product_type_grouped:hover,
		.product-buttons .button.product_type_simple:hover,
		.product-buttons .button.product_type_external:hover {
			background: #009bc6;

			background-image: -webkit-gradient( linear, left bottom, left top, from( #009bc6), to( #009bc6));
			background-image: -webkit-linear-gradient( bottom, #009bc6, #009bc6);
			background-image: -moz-linear-gradient( bottom, #009bc6, #009bc6);
			background-image: -o-linear-gradient( bottom, #009bc6, #009bc6);
			background-image: linear-gradient( to top, #009bc6, #009bc6);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=\#009bc6', endColorstr=\#009bc6');
		}
		/* Extra small devices (phones, <768px) */

		@media (max-width: 768px) {
			.da-slide h2,
			#bootstrap-slider .carousel-caption h2 {
				font-size: 120%!important;
				letter-spacing: 1px;
			}

			#slide_holder .featured-title a {
				font-size: 80%!important;
				letter-spacing: 1px;
			}

			.da-slide p,
			#slide_holder p,
			#bootstrap-slider .carousel-caption p {
				font-size: 90%!important;
			}
		}
		/* Small devices (tablets, 768px) */

		@media (min-width: 768px) {
			.da-slide h2 {
				font-size: 180%;
				letter-spacing: 0;
			}

			#slide_holder .featured-title a {
				font-size: 120%;
				letter-spacing: 0;
			}

			.da-slide p,
			#slide_holder p {
				font-size: 100%;
			}
		}
		/* Large devices (large desktops) */

		@media (min-width: 992px) {
			.da-slide h2 {
				font-size: 36px;
				line-height: 1em;
			}

			#slide_holder .featured-title a {
				font-size: 36px;
				line-height: 1em;
			}

			.da-slide p {
				font-size: 18px;
			}

			#slide_holder p {
				font-size: 18px;
			}
		}

		#wrapper,
		.entry-content .thumbnail-post,
		#search-text,
		#search-text-top:focus,
		ul.nav-menu ul,
		ul.breadcrumbs,
		.entry-content .wp-caption,
		thead,
		thead th,
		thead td,
		.home .type-post.sticky,
		.home .formatted-post,
		.page-template-blog-page-php .type-post.sticky,
		.page-template-blog-page-php .formatted-post,
		.tab-holder .tabs li a,
		.tab-holder .news-list li,
		#wrapper:before,
		#bbpress-forums .bbp-search-form #bbp_search,
		.bbp-search-form #bbp_search,
		.bbp-topic-form input#bbp_topic_title,
		.bbp-topic-form input#bbp_topic_tags,
		.bbp-topic-form select#bbp_stick_topic_select,
		.bbp-topic-form select#bbp_topic_status_select,
		.bbp-reply-form input#bbp_topic_tags,
		.widget-title-background,
		.widget-content,
		.widget:after {
			-webkit-box-shadow: none!important;
			-moz-box-shadow: none!important;
			-box-shadow: none!important;
			box-shadow: none!important;
		}

		ul.nav-menu a,
		.new_menu_class ul.menu a,
		.entry-title,
		.entry-title a,
		p#copyright .credits,
		p#copyright .credits a,
		.home .type-post.sticky .entry-header a,
		.home .formatted-post .entry-header a,
		.home .type-post.sticky .entry-meta,
		.home .formatted-post .entry-meta,
		.home .type-post.sticky .entry-footer a,
		.home .formatted-post .entry-footer a,
		.page-template-blog-page-php .type-post.sticky .entry-header a,
		.page-template-blog-page-php .type-post.sticky .entry-meta,
		.page-template-blog-page-php .formatted-post .entry-header a,
		.page-template-blog-page-php .formatted-post .entry-meta,
		.page-template-blog-page-php .type-post.sticky .entry-footer a,
		.page-template-blog-page-php .formatted-post .entry-footer a,
		.home .type-post.sticky .entry-title a,
		.home .formatted-post .entry-title a,
		.page-template-blog-page-php .type-post.sticky .entry-title a,
		.page-template-blog-page-php .formatted-post .entry-title a,
		.entry-meta,
		thead,
		thead th,
		thead td,
		.content-box i,
		.carousel-caption,
		.menu-header,
		body #header.sticky-header,
		.close,
		#content h3.widget-title,
		h3.widget-title {
			text-shadow: none!important;
		}

		.menu-header,
		.new_menu_class,
		form.top-searchform,
		.stuckMenu.isStuck .nav-menu,
		.p-menu-stick.stuckMenu .nav-menu,
		.p-menu-stick.stuckMenu.isStuck,
		body #header.sticky-header.sticky {
			filter: none;
			background: #ransparent!important;
			border: none!important;
			border-radius: 0!important;
			-webkit-box-shadow: none!important;
			-moz-box-shadow: none!important;
			-box-shadow: none!important;
			box-shadow: none!important;
		}

		.menu-header:before,
		.menu-header:after {
			content: none!important;
		}

		ul.nav-menu li,
		ul.nav-menu li li,
		ul.nav-menu li li li,
		ul.nav-menu li li li li {
			border: none;
		}

		ul.nav-menu li.current-menu-item>a,
		ul.nav-menu li.current-menu-ancestor>a,
		ul.nav-menu li a:hover,
		ul.nav-menu li:hover>a,
		#wrapper .dd-container .dd-selected-text {
			box-shadow: none;
		}

		ul.nav-menu li.current-menu-item>a,
		ul.nav-menu li.current-menu-ancestor>a,
		ul.nav-menu li.current-menu-ancestor>a span,
		ul.nav-menu li.current-menu-item>a span,
		ul.nav-menu li.current-menu-item>.sf-with-ul::after,
		ul.nav-menu li.current-menu-ancestor>.sf-with-ul::after,
		ul.nav-menu li.current-menu-item>a.sf-with-ul::after,
		.sticky-header ul.nav-menu li.current-menu-item>a {
			color: #ffffff !important;
		}

		.menu-container {
			background: none !important;
		}

		.sub-menu {
			border: none !important;
		}

		.menu-item a {
			border: none !important;
		}

		body #header.sticky-header {
			background: #ransparent!important;
			border: 0;
		}

		.content {
			padding-top: 0;
		}

		.home-content-boxes {
			margin: 0 0 -10px;
		}

		#primary {
			margin-top: -20px;
		}

		p#copyright .credits a {
			color: white!important;
		}

		ul#menu-assessment-side-bar ul,
		ul#menu-assessment-side-bar ul ul,
		ul#menu-assessment-side-bar ul ul ul {
			margin-left: 25px;
			font-weight: bold;
		}

		.header {
			padding-top: 40px;
			padding-bottom: 0px;
		}

		.entry-title {
			padding-top: 25px;
		}

		.jotform-form {
			padding: 5px 0;
		}

		#content .rotatingtweet {
			padding-top: 0.7em;
			padding-bottom: 0.7em;
			height: auto;
		}

		.widget-content,
		.aside,
		.aside a {
			font-family: inherit ! important;
		}

		textarea,
		.entry-content {
			color: #000 !important;
		}

		.woocommerce-menu-holder {
			float: left;
		}

		.container-menu {
			z-index: 3;
		}

		#search-text-top {
			position: absolute;
			right: 0;
		}

		#search-text-top:focus {
			position: absolute;
			right: 0px;
			left: initial;
		}

		.header .woocommerce-menu {
			margin-right: 20px;
			padding: 5px;
		}

		@media (max-width: 768px) {
			.header_v0 .title-container #logo a {
				padding: 0px;
			}
			#search-text-top {
				background: #fff;
				font-size: 12px;
				font-weight: normal;
			}
			.sc_menu {
				float: none;
				text-align: center;
			}
			#search-text-top {
				border: 1px solid #fff;
				height: 36px;
				width: 190px;
			}
			.woocommerce-menu-holder {
				float: none;
			}
			.header .woocommerce-menu {
				float: none;
				margin-right: 0;
			}
			.title-container #logo {
				float: none;
			}
			#righttopcolumn,
			#social,
			.header a,
			#tagline,
			#logo {
				width: auto;
				display: block;
			}
		}

		@media screen and (min-width: 1200px) {
			.header_v0 div#search-text-box {
				margin-right: 0px
			}
		}
	</style>
	<link rel="stylesheet" id="bootstrapcss-css" href="public/AIR-Home-RAW_files/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" id="bootstrapcsstheme-css" href="public/AIR-Home-RAW_files/bootstrap-theme.css" type="text/css" media="all">
	<link rel="stylesheet" id="otw_sbm.css-css" href="public/AIR-Home-RAW_files/otw_sbm.css" type="text/css" media="all">
	<link rel="stylesheet" id="siteorigin-panels-front-css" href="public/AIR-Home-RAW_files/front.css" type="text/css" media="all">
	<link rel="stylesheet" id="advanced-floating-content-css" href="public/AIR-Home-RAW_files/advanced-floating-content-public.css"
	    type="text/css" media="all">
	<link rel="stylesheet" id="BNS-Corner-Logo-Style-css" href="public/AIR-Home-RAW_files/bns-corner-logo-style.css" type="text/css"
	    media="screen">
	<link rel="stylesheet" id="info-slider-css" href="public/AIR-Home-RAW_files/info-slider.css" type="text/css" media="all">
	<link rel="stylesheet" id="cff-css" href="public/AIR-Home-RAW_files/cff-style.css" type="text/css" media="all">
	<link rel="stylesheet" id="cff-font-awesome-css" href="public/AIR-Home-RAW_files/font-awesome.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="fontsforwebstyle-css" href="public/AIR-Home-RAW_files/fontsforwebstyle.css" type="text/css" media="all">
	<link rel="stylesheet" id="jquery-ui-css" href="public/AIR-Home-RAW_files/jquery-ui-1.8.14.custom.css" type="text/css" media="all">
	<link rel="stylesheet" id="colorpicker2-css" href="public/AIR-Home-RAW_files/colorpicker.css" type="text/css" media="all">
	<link rel="stylesheet" id="rotatingtweets-css" href="public/AIR-Home-RAW_files/style(1).css" type="text/css" media="all">
	<link rel="stylesheet" id="semantic-css" href="public/AIR-Home-RAW_files/semantic.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="sfmsb-style-css" href="public/AIR-Home-RAW_files/style(2).css" type="text/css" media="all">
	<link rel="stylesheet" id="sfmsb-icons-css" href="public/AIR-Home-RAW_files/icons.css" type="text/css" media="all">
	<link rel="stylesheet" id="sow-image-default-a766b29992bf-css" href="public/AIR-Home-RAW_files/sow-image-default-a766b29992bf.css"
	    type="text/css" media="all">
	<link rel="stylesheet" id="thickbox.css-css" href="public/AIR-Home-RAW_files/thickbox.css" type="text/css" media="all">
	<link rel="stylesheet" id="dashicons-css" href="public/AIR-Home-RAW_files/dashicons.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="thickbox-css" href="public/AIR-Home-RAW_files/thickbox(1).css" type="text/css" media="all">
	<link rel="stylesheet" id="s8_jtweets_stylesheets-css" href="public/AIR-Home-RAW_files/style(3).css" type="text/css" media="all">
	<link rel="stylesheet" id="wp-team-manager-css" href="public/AIR-Home-RAW_files/tm-style.css" type="text/css" media="all">
	<link rel="stylesheet" id="megamenu-css" href="public/AIR-Home-RAW_files/style(4).css" type="text/css" media="all">
	<link rel="stylesheet" id="wpwb-frontend-css-css" href="public/AIR-Home-RAW_files/wpwb-frontend-css.css" type="text/css" media="all">
	<link rel="stylesheet" id="wpwb-owl-carousel-css" href="public/AIR-Home-RAW_files/wpwb-owl-carousel.css" type="text/css" media="all">
	<link rel="stylesheet" id="redux-google-fonts-evl_options-css" href="public/AIR-Home-RAW_files/css" type="text/css" media="all">
	<link rel="stylesheet" type="text/css" href="public/AIR-Home-RAW_files/n2-ss-1.css" media="screen, print">
	<style type="text/css">
		.n2-ss-spinner-simple-white-container {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -20px;
			background: #fff;
			width: 20px;
			height: 20px;
			padding: 10px;
			border-radius: 50%;
			z-index: 1000;
		}

		.n2-ss-spinner-simple-white {
			outline: 1px solid RGBA(0, 0, 0, 0);
			width: 100%;
			height: 100%;
		}

		.n2-ss-spinner-simple-white:before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			margin-top: -11px;
			margin-left: -11px;
		}

		.n2-ss-spinner-simple-white:not(:required):before {
			content: '';
			border-radius: 50%;
			border-top: 2px solid #333;
			border-right: 2px solid transparent;
			animation: n2SimpleWhite .6s linear infinite;
			-webkit-animation: n2SimpleWhite .6s linear infinite;
		}

		@keyframes n2SimpleWhite {
			to {
				transform: rotate(360deg);
			}
		}

		@-webkit-keyframes n2SimpleWhite {
			to {
				-webkit-transform: rotate(360deg);
			}
		}
	</style>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/userscripts.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/parallax.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/modernizr.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/carousel.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/tipsy.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/fields.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.infinite-scroll.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.scroll.pack.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/supersubs.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/superfish.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/hoverIntent.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/buttons.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/ddslick.js"></script>
	<style id="css-ddslick" type="text/css">
		.dd-select {
			border-radius: 2px;
			border: solid 1px #ccc;
			position: relative;
			cursor: pointer;
		}

		.dd-desc {
			color: #aaa;
			display: block;
			overflow: hidden;
			font-weight: normal;
			line-height: 1.4em;
		}

		.dd-selected {
			overflow: hidden;
			display: block;
			padding: 10px;
			font-weight: bold;
		}

		.dd-pointer {
			width: 0;
			height: 0;
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -3px;
		}

		.dd-pointer-down {
			border: solid 5px transparent;
			border-top: solid 5px #000;
		}

		.dd-pointer-up {
			border: solid 5px transparent !important;
			border-bottom: solid 5px #000 !important;
			margin-top: -8px;
		}

		.dd-options {
			border: solid 1px #ccc;
			border-top: none;
			list-style: none;
			box-shadow: 0px 1px 5px #ddd;
			display: none;
			position: absolute;
			z-index: 2000;
			margin: 0;
			padding: 0;
			background: #fff;
			overflow: auto;
		}

		.dd-option {
			padding: 10px;
			display: block;
			border-bottom: solid 1px #ddd;
			overflow: hidden;
			text-decoration: none;
			color: #333;
			cursor: pointer;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
		}

		.dd-options>li:last-child>.dd-option {
			border-bottom: none;
		}

		.dd-option:hover {
			background: #f3f3f3;
			color: #000;
		}

		.dd-selected-description-truncated {
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.dd-option-selected {
			background: #f6f6f6;
		}

		.dd-option-image,
		.dd-selected-image {
			vertical-align: middle;
			float: left;
			margin-right: 5px;
			max-width: 64px;
		}

		.dd-image-right {
			float: right;
			margin-right: 15px;
			margin-left: 5px;
		}

		.dd-container {
			position: relative;
		}

		​ .dd-selected-text {
			font-weight: bold
		}

		​
	</style>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/bootstrap.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/advanced-floating-content-public.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/unslider.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/infoslider.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.fcarousel.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/core.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/widget.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/mouse.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/draggable.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/slider.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/colorpicker.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/sortable.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.fontPlugin.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/pluginscripts.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.address.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/semantic.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/front-widget.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jtweets.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/wpwb-owl-carousel.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/calendar.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/calendar-setup.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/calendar_function.js"></script>
	<link rel="https://api.w.org/" href="http://air.citytech.cuny.edu/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://air.citytech.cuny.edu/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://air.citytech.cuny.edu/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 4.7.6">
	<link rel="canonical" href="http://air.citytech.cuny.edu/">
	<link rel="shortlink" href="http://air.citytech.cuny.edu/">
	<link rel="alternate" type="application/json+oembed" href="http://air.citytech.cuny.edu/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fair.citytech.cuny.edu%2F">
	<link rel="alternate" type="text/xml+oembed" href="http://air.citytech.cuny.edu/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fair.citytech.cuny.edu%2F&amp;format=xml">
	<link rel="stylesheet" type="text/css" href="public/AIR-Home-RAW_files/widgets.css">

	<style type="text/css">
		@font-face {
			font-family: '33535gillsansmt';
			src: url('http://air.citytech.cuny.edu/wp-content/plugins/font/font_files/33535gillsansmt.eot');
			src: url('http://air.citytech.cuny.edu/wp-content/plugins/font/font_files/33535gillsansmt.woff') format('woff'),
			url('http://air.citytech.cuny.edu/wp-content/plugins/font/font_files/33535gillsansmt.eot') format('eot'),
			url('http://air.citytech.cuny.edu/wp-content/plugins/font/font_files/33535gillsansmt.ttf') format('truetype');
		}

		PICK AN ELEMENT NOW - or type CSS selector(advanced),
		DIV DIV UL LI.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-appearance.menu-top-first.opensub A.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-appearance.menu-top-first,
		DIV DIV UL LI.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-page A.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-page {
			font-size: 30px !important;
			color: #444 !important;
		}

		DIV DIV UL LI.wp-has-submenu.wp-not-current-submenu.menu-top.menu-icon-appearance.menu-top-first.opensub UL.wp-submenu.wp-submenu-wrap,
		DIV DIV DIV.so-widget-sow-editor.so-widget-sow-editor-base DIV.siteorigin-widget-tinymce.textwidget H2 {
			font-size: 25px !important;
			color: #007bb5 !important;
		}

		DIV DIV DIV.siteorigin-widget-tinymce.textwidget H1 SPAN {
			font-size: 45px !important;
			text-shadow: 0.00px 1.20px 0.3px rgb(10, 99, 141) !important;
			font-family: '33535gillsansmt' !important;
		}

		HTML BODY.home.page.page-id-2.page-template-default.logged-in.admin-bar.custom-background.siteorigin-panels.siteorigin-panels-home.customize-support DIV.draggableModal.ui-draggable BUTTON#stylesButton.toggleModal {
			font-family: '33535gillsansmt' !important;
		}

		DIV DIV DIV.so-widget-sow-editor.so-widget-sow-editor-base DIV.siteorigin-widget-tinymce.textwidget P {
			font-size: 16px !important;
		}
	</style>
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="public/AIR-Home-RAW_files/css(1)" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/socicon.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/bootstrap-social.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/font-awesome.min(1).css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/simple-line-icons.css" rel="stylesheet">
	<link href="public/AIR-Home-RAW_files/animate.min.css" rel="stylesheet" type="text/css">
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN: BASE PLUGINS  -->
	<link href="public/AIR-Home-RAW_files/settings.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/layers.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/navigation.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/cubeportfolio.min.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/owl.carousel.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/owl.theme.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/owl.transitions.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/jquery.fancybox.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/slider.css" rel="stylesheet" type="text/css">
	<!-- END: BASE PLUGINS -->
	<!-- BEGIN THEME STYLES -->
	<link href="public/AIR-Home-RAW_files/plugins.css" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/components.css" id="style_components" rel="stylesheet" type="text/css">
	<link href="public/AIR-Home-RAW_files/blue10.css" rel="stylesheet" id="style_theme" type="text/css">
	<link href="public/AIR-Home-RAW_files/custom.css" rel="stylesheet" type="text/css">
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="http://www.citytech.cuny.edu/favicon.ico">

	<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
	<!-- BEGIN: HEADER -->

	<script type="text/javascript" charset="UTF-8" src="public/AIR-Home-RAW_files/common.js"></script>
	<script type="text/javascript" charset="UTF-8" src="public/AIR-Home-RAW_files/util.js"></script>
	<script type="text/javascript" charset="UTF-8" src="public/AIR-Home-RAW_files/geocoder.js"></script>
	<style type="text/css">
		:root #content>#center>.dose>.dosesingle,
		:root #content>#right>.dose>.dosesingle {
			display: none !important;
		}
	</style>
	<script type="text/javascript" charset="UTF-8" src="public/AIR-Home-RAW_files/stats.js"></script>
</head>

<body class="home page-template-default page page-id-2 custom-background siteorigin-panels siteorigin-panels-home mega-menu-primary-menu">
	<header class="c-layout-header c-layout-header-2 c-layout-header-dark-mobile c-header-transparent-dark" data-minimize-offset="80">
		<div class="c-topbar c-topbar-light c-topbar-wLine">
			<div class="container">
				<!-- BEGIN: TOP MENU -->
				<nav class="c-top-menu c-pull-right">
					<ul class="c-links c-theme-ul">
						<li>
							<a href="http://www.citytech.cuny.edu/prospective">Prospective Students</a>
						</li>
						<li class="c-divider">/</li>
						<li>
							<a href="http://www.citytech.cuny.edu/current-student">Current Students</a>
						</li>
						<li class="c-divider">/</li>
						<li>
							<a href="http://www.citytech.cuny.edu/faculty-staff">Faculty &amp; Staff</a>
						</li>
						<li class="c-divider">/</li>
						<li>
							<a href="http://www.citytech.cuny.edu/alumni">Alumni &amp; Friends</a>
						</li>
						<li class="c-divider">/</li>
						<li>
							<a href="http://www.citytech.cuny.edu/foundation">Donate</a>
						</li>
					</ul>

				</nav>
				<!-- END: TOP MENU -->
			</div>
		</div>
		<div class="c-navbar">
			<div class="container">
				<!-- BEGIN: BRAND -->
				<div class="c-navbar-wrapper clearfix">
					<div class="c-brand c-pull-left">
						<a href="http://www.citytech.cuny.edu/" class="c-logo">
								<img src="public/AIR-Home-RAW_files/citytech_logo.png" alt="City Tech" class="c-desktop-logo">
								<img src="public/AIR-Home-RAW_files/citytech_logo.png" alt="City Tech" class="c-desktop-logo-inverse">
								<img src="public/AIR-Home-RAW_files/citytech_logo.png" alt="City Tech" class="c-mobile-logo"> </a>
						<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
								<span class="c-line"></span>
								<span class="c-line"></span>
								<span class="c-line"></span>
							</button>
					</div>
					<!-- END: BRAND -->
					<!-- BEGIN: QUICK SEARCH -->

					<!-- Google CSE Search Box Begins  -->
					<form name="googleFormSearch" onsubmit="if (this.q.value == def_val || this.q.value === &#39;&#39;) return false; else return true;"
					    id="searchbox_015249438177587670361:dh0_g1b74ek" action="http://www.citytech.cuny.edu/search.aspx" class="c-quick-search">
						<input type="hidden" name="cx" value="015249438177587670361:dh0_g1b74ek">
						<input type="hidden" name="cof" value="FORID:11">
						<input type="text" name="q" value="" onfocus="input_txt_focus(this,def_val)" onblur="input_txt_blur(this,def_val)" class="form-control"
						    placeholder="Type to search..." autocomplete="off">
						<span class="c-theme-link">×</span>

					</form>
					<!-- Google CSE Search Box Ends -->
					<!-- END: QUICK SEARCH -->
					<!-- BEGIN: HOR NAV -->
					<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
					<!-- BEGIN: MEGA MENU -->

					<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
						<ul class="nav navbar-nav c-theme-nav">
							<li class="c-menu-type-classic">
								<a href="http://www.citytech.cuny.edu/about-us" class="c-link dropdown-toggle c-toggler">About Us
										<span class="c-arrow"></span>
									</a>
								<ul class="dropdown-menu c-menu-type-classic c-pull-left">
									<li>
										<a href="http://www.citytech.cuny.edu/about-us/mission.aspx">Our Mission</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/about-us/facts.aspx">College Facts</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/about-us/leadership.aspx">College Leadership</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/news">City Tech News</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/about-us/partnerships.aspx">Partnerships</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/about-us/directions.aspx">Directions &amp; Map</a>
									</li>
								</ul>
							</li>

							<li class="c-menu-type-classic">
								<a href="http://www.citytech.cuny.edu/admissions/" class="c-link dropdown-toggle c-toggler">Admissions
										<span class="c-arrow"></span>
									</a>
								<ul class="dropdown-menu c-menu-type-classic c-pull-left">
									<li>
										<a href="http://www.citytech.cuny.edu/admissions/index.aspx#how-to-apply">Apply</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/admissions/tuition-general.aspx">Tuition &amp; Fees</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/financial-aid">Financial Aid</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/admissions/dates-deadlines.aspx">Dates &amp; Deadlines</a>
									</li>
									<li>
										<a href="https://cunycitytech.askadmissions.net/emtinterestpage.aspx?ip=prospect">Request Information</a>
									</li>
								</ul>
							</li>

							<li class="c-menu-type-classic">
								<a href="http://www.citytech.cuny.edu/academics/" class="c-link dropdown-toggle c-toggler">Academics
										<span class="c-arrow"></span>
									</a>
								<ul class="dropdown-menu c-menu-type-classic c-pull-left">

									<li>
										<a href="http://www.citytech.cuny.edu/academics/areas-of-study.aspx">Areas of Study</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/academics/academic-support.aspx">Academic Support</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/registrar/academic-calendar.aspx">Academic Calendar</a>
									</li>

									<li>
										<a href="http://www.citytech.cuny.edu/ce/">Continuing Education</a>
									</li>


									<li>
										<a href="http://websupport1.citytech.cuny.edu/citytechonline.html">City Tech Online</a>
									</li>
									<li>
										<a href="https://home.cunyfirst.cuny.edu/psp/cnyepprd/GUEST/HRMS/c/COMMUNITY_ACCESS.CLASS_SEARCH.GBL" target="_blank">Schedule of Classes</a>
									</li>
								</ul>
							</li>

							<li class="c-menu-type-classic">
								<a href="http://www.citytech.cuny.edu/campus-life" class="c-link dropdown-toggle c-toggler">Campus Life
										<span class="c-arrow"></span>
									</a>
								<ul class="dropdown-menu c-menu-type-classic c-pull-left">
									<li>
										<a href="http://www.citytech.cuny.edu/nsc/">New Student Center</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/student-services/">Student Services</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/counseling/">Counseling</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/student-life/">Student Life</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/sga">Student Government</a>
									</li>
									<li>
										<a href="http://www.citytech.cuny.edu/campus-life/index.aspx#safety">Campus Safety</a>
									</li>

								</ul>
							</li>

							<li>
								<a href="javascript:;" class="c-link dropdown-toggle c-toggler">Quicklinks
										<span class="c-arrow"></span>
									</a>
								<ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
									<li>
										<ul class="dropdown-menu c-menu-type-inline">
											<li>
												<h3>Logins</h3>
											</li>
											<li>
												<a href="https://home.cunyfirst.cuny.edu/oam/Portal_Login1.html" target="_blank">CUNYfirst</a>
											</li>
											<li>
												<a href="http://it.citytech.cuny.edu/faculty-staff-email.aspx">Faculty/Staff Email</a>
											</li>
											<li>
												<a href="http://it.citytech.cuny.edu/student-email.aspx">Student Email</a>
											</li>
											<li>
												<a href="https://cunyportal.cuny.edu/cpr/authenticate/portal_login.jsp" target="_blank">CUNY Portal</a>
											</li>
											<li>
												<a href="https://bbhosted.cuny.edu/" target="_blank">Blackboard</a>
											</li>
										</ul>
									</li>


									<li>
										<ul class="dropdown-menu c-menu-type-inline">
											<li>
												<h3>Helpful Links</h3>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/registrar/academic-calendar.aspx">Academic Calendar</a>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/academics/academic-catalog.aspx">College Catalog</a>
											</li>
											<li>
												<a href="https://library.citytech.cuny.edu/" target="_blank">Library</a>
											</li>
											<li>
												<a href="https://openlab.citytech.cuny.edu/" target="_blank">OpenLab</a>
											</li>
											<li>
												<a href="http://websupport1.citytech.cuny.edu/" target="_blank">WebSupport1</a>
											</li>
											<li>
												<a href="http://facultycommons.citytech.cuny.edu/" target="_blank">Faculty Commons</a>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/citytechonline/" target="_blank">Online Courses</a>
											</li>
											<li>
												<a href="https://home.cunyfirst.cuny.edu/psp/cnyepprd/GUEST/HRMS/c/COMMUNITY_ACCESS.CLASS_SEARCH.GBL" target="_blank">Schedule of Classes</a>
											</li>
										</ul>
									</li>
									<li>
										<ul class="dropdown-menu c-menu-type-inline">
											<li>
												<h3>Information For</h3>
											</li>

											<li><a href="http://www.citytech.cuny.edu/prospective" class="c-link">Prospective Students</a></li>
											<li><a href="http://www.citytech.cuny.edu/current-student" class="c-link">Current Students</a></li>
											<li><a href="http://www.citytech.cuny.edu/faculty-staff" class="c-link">Faculty &amp; Staff</a></li>
											<li><a href="http://www.citytech.cuny.edu/alumni" class="c-link">Alumni &amp; Friends</a></li>
										</ul>
									</li>

									<li>
										<ul class="dropdown-menu c-menu-type-inline">
											<li>
												<h3>About Us</h3>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/offices-services/">Offices &amp; Services</a>
											</li>
											<li>
												<a href="https://openlab.citytech.cuny.edu/collegecouncil/">College Council</a>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/directory/">Directory</a>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/about-us/directions.aspx">Directions &amp; Map</a>
											</li>
											<li>
												<a href="http://www.citytech.cuny.edu/about-us/directions.aspx"><img style="max-width:100%;width:250px;" src="public/AIR-Home-RAW_files/new_building.jpg" alt="Directions and Map"></a>
											</li>
										</ul>
									</li>
								</ul>
							</li>

							<li>


								<form name="googleFormSearch" onsubmit="if (this.q.value == def_val || this.q.value === &#39;&#39;) return false; else return true;"
								    id="searchbox_015249438177587670361:dh0_g1b74ek" action="http://www.citytech.cuny.edu/search.aspx" class="c-mobi-search">
									<input type="hidden" name="cx" value="015249438177587670361:dh0_g1b74ek">
									<input type="hidden" name="cof" value="FORID:11">
									<input type="text" name="q" value="" onfocus="input_txt_focus(this,def_val)" onblur="input_txt_blur(this,def_val)" class="form-control"
									    placeholder="Type to search..." autocomplete="off">
									<span class="c-theme-link">×</span>

								</form>


							</li>
							<li class="c-search-toggler-wrapper">
								<a href="http://air.citytech.cuny.edu/#" class="c-btn-icon c-search-toggler">
										<i class="fa fa-search"></i>
									</a>
							</li>

							<li class="c-menu-type-classic c-mobi-only">
								<a href="http://www.citytech.cuny.edu/prospective" class="c-link">Prospective Students</a>
							</li>
							<li class="c-menu-type-classic c-mobi-only">
								<a href="http://www.citytech.cuny.edu/current-student" class="c-link">Current Students</a>
							</li>
							<li class="c-menu-type-classic c-mobi-only">
								<a href="http://www.citytech.cuny.edu/faculty-staff" class="c-link">Faculty &amp; Staff</a>
							</li>
							<li class="c-menu-type-classic c-mobi-only">
								<a href="http://www.citytech.cuny.edu/alumni" class="c-link">Alumni &amp; Friends</a>
							</li>
							<li class="c-menu-type-classic c-mobi-only">
								<a href="http://www.citytech.cuny.edu/foundation" class="c-link">Donate</a>
							</li>


						</ul>
					</nav>
					<!-- END: MEGA MENU -->
					<!-- END: LAYOUT/HEADERS/MEGA-MENU -->
					<!-- END: HOR NAV -->
				</div>

			</div>
		</div>
	</header>


	<!-- END: HEADER -->
	<!-- END: LAYOUT/HEADERS/HEADER-1 -->



	<script type="text/javascript">
		var _baTheme = 0,
			_baMode = 'Make this website talk',
			_baUseCookies = true,
			_baHideOnLoad = true;
	</script>



	
	</script>
	<script>
		var xx_cal_xx = '&';
	</script>


	<style type="text/css" media="screen"></style>
	<style type="text/css">
		div.wpwb_container {
			background: #ffffff;
		}

		div.wpwb_container div.wpwb_wiget_title,
		div.wpwb_post_container div.wpwb_wiget_title,
		div.wpwb_container div.wpwb_contant div.wpwb_login_form input.wpwb_button_style,
		div.wpwb_container div.wpwb_contant div.wpwb_registration_form input.wpwb_button_style,
		div.wpwb_container div.wpwb_contant ul.wpwb-flip-navigation li.selected a,
		div.wpwb_container div.wpwb_contant ul.wpwb-flip-navigation li a:hover {
			background: #189AC9;
		}

		div.wpwb_container div.wpwb_contant div.wpwb-login-form label.wpwb-login-field-icon,
		div.wpwb_post_container div.wpwb_post_contant span.wpwb-field-icon {
			color: #189AC9;
		}

		div.wpwb_container div.wpwb_wiget_title h1,
		div.wpwb_post_container div.wpwb_wiget_title h1 {
			font-size: 25px;
			text-transform: uppercase;
			color: #ffffff;
		}
	</style>

	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".wpwb-ca-container").WPWB_OWL_CAROUSEL({
				singleItem: true,
				slideSpeed: 1000,
				paginationSpeed: 1000,
				rewindSpeed: 1000,
				autoPlay: true,
				stopOnHover: true,
				navigation: true,
				rewindNav: true,
				pagination: true,
				paginationNumbers: false,
				mouseDrag: true,
				autoHeight: true
			});
		});
	</script>

	<style type="text/css" id="custom-background-css">
		body.custom-background {
			background-color: #2c7499;
		}
	</style>
	<script type="text/javascript">
		var ajaxproxy = 'http://air.citytech.cuny.edu/wp-admin/admin-ajax.php';
		var fontBlogUrl = 'http://air.citytech.cuny.edu';
		var fontBlogName = 'AIR Home';
		var fontPluginVersion = '7.5.1';
	</script>
	<style type="text/css" media="all" id="siteorigin-panels-grids-wp_head">
		/* Layout 2 */

		#pg-2-0,
		#pg-2-1,
		#pl-2 .panel-grid-cell .so-panel {
			margin-bottom: 30px
		}

		#pg-2-0 .panel-grid-cell {
			float: none
		}

		#pgc-2-1-0,
		#pgc-2-1-1,
		#pgc-2-1-2,
		#pgc-2-1-3 {
			width: 25%
		}

		#pg-2-1 .panel-grid-cell,
		#pg-2-2 .panel-grid-cell {
			float: left
		}

		#pgc-2-2-0 {
			width: 63.093%
		}

		#pgc-2-2-1 {
			width: 36.907%
		}

		#pl-2 .panel-grid-cell .so-panel:last-child {
			margin-bottom: 0px
		}

		#pg-2-0,
		#pg-2-1,
		#pg-2-2 {
			margin-left: -15px;
			margin-right: -15px
		}

		#pg-2-0 .panel-grid-cell,
		#pg-2-1 .panel-grid-cell,
		#pg-2-2 .panel-grid-cell {
			padding-left: 15px;
			padding-right: 15px
		}

		#panel-2-0-0-0 a {
			color: #dd3333
		}

		#panel-2-0-0-1>.panel-widget-style {
			padding: 0px
		}

		#panel-2-2-1-1>.panel-widget-style {
			padding: 15px
		}

		@media (max-width:780px) {
			#pg-2-0 .panel-grid-cell,
			#pg-2-1 .panel-grid-cell,
			#pg-2-2 .panel-grid-cell {
				float: none;
				width: auto
			}
			#pgc-2-1-0,
			#pgc-2-1-1,
			#pgc-2-1-2,
			#pgc-2-2-0 {
				margin-bottom: 30px
			}
			#pl-2 .panel-grid,
			#pl-2 .panel-grid-cell {}
			#pl-2 .panel-grid .panel-grid-cell-empty {
				display: none
			}
			#pl-2 .panel-grid .panel-grid-cell-mobile-last {
				margin-bottom: 0px
			}
		}
	</style>
	<link rel="icon" href="http://air.citytech.cuny.edu/wp-content/uploads/2016/03/cropped-city_tech_logo_banner-1-1-32x32.gif"
	    sizes="32x32">
	<link rel="icon" href="http://air.citytech.cuny.edu/wp-content/uploads/2016/03/cropped-city_tech_logo_banner-1-1-192x192.gif"
	    sizes="192x192">
	<link rel="apple-touch-icon-precomposed" href="http://air.citytech.cuny.edu/wp-content/uploads/2016/03/cropped-city_tech_logo_banner-1-1-180x180.gif">
	<meta name="msapplication-TileImage" content="http://air.citytech.cuny.edu/wp-content/uploads/2016/03/cropped-city_tech_logo_banner-1-1-270x270.gif">

	<!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="http://air.citytech.cuny.edu/wp-content/themes/evolve/ie.css">
        <![endif]-->

	<script type="text/javascript">
		window.nextend = {
			localization: {},
			deferreds: [],
			loadScript: function (url) {
				n2jQuery.ready(function () {
					nextend.deferreds.push(n2.ajax({
						url: url,
						dataType: "script",
						cache: true,
						error: function () {
							console.log(arguments)
						}
					}))
				})
			},
			ready: function (cb) {
				n2.when.apply(n2, nextend.deferreds).done(function () {
					cb.call(window, n2)
				})
			}
		};
	</script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/n2.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/nextend-frontend.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/smartslider-frontend.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/smartslider-simple-type-frontend.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/n2-ss-1.js"></script>
	<script type="text/javascript">
		window.n2jQuery.ready((function ($) {
			window.nextend.ready(function () {
				new N2Classes.SmartSliderSimple('#n2-ss-1', {
					"admin": false,
					"isStaticEdited": 0,
					"translate3d": 1,
					"callbacks": "",
					"align": "normal",
					"isDelayed": 0,
					"load": {
						"fade": 1,
						"scroll": 0
					},
					"playWhenVisible": 1,
					"responsive": {
						"desktop": 1,
						"tablet": 1,
						"mobile": 1,
						"onResizeEnabled": true,
						"type": "auto",
						"downscale": 1,
						"upscale": 1,
						"minimumHeight": 0,
						"maximumHeight": 350,
						"maximumSlideWidth": 1140,
						"maximumSlideWidthLandscape": 1140,
						"maximumSlideWidthTablet": 1140,
						"maximumSlideWidthTabletLandscape": 1140,
						"maximumSlideWidthMobile": 1140,
						"maximumSlideWidthMobileLandscape": 1140,
						"maximumSlideWidthConstrainHeight": 0,
						"forceFull": 0,
						"forceFullHorizontalSelector": "",
						"constrainRatio": 1,
						"verticalOffsetSelectors": "",
						"focusUser": 0,
						"focusAutoplay": 0,
						"deviceModes": {
							"desktopPortrait": 1,
							"desktopLandscape": 0,
							"tabletPortrait": 1,
							"tabletLandscape": 0,
							"mobilePortrait": 1,
							"mobileLandscape": 0
						},
						"normalizedDeviceModes": {
							"unknownUnknown": ["unknown", "Unknown"],
							"desktopPortrait": ["desktop", "Portrait"],
							"desktopLandscape": ["desktop", "Portrait"],
							"tabletPortrait": ["tablet", "Portrait"],
							"tabletLandscape": ["tablet", "Portrait"],
							"mobilePortrait": ["mobile", "Portrait"],
							"mobileLandscape": ["mobile", "Portrait"]
						},
						"verticalRatioModifiers": {
							"unknownUnknown": 1,
							"desktopPortrait": 1,
							"desktopLandscape": 1,
							"tabletPortrait": 1,
							"tabletLandscape": 1,
							"mobilePortrait": 1,
							"mobileLandscape": 1
						},
						"minimumFontSizes": {
							"desktopPortrait": 4,
							"desktopLandscape": 4,
							"tabletPortrait": 4,
							"tabletLandscape": 4,
							"mobilePortrait": 4,
							"mobileLandscape": 4
						},
						"ratioToDevice": {
							"Portrait": {
								"tablet": 0.7,
								"mobile": 0.5
							},
							"Landscape": {
								"tablet": 0,
								"mobile": 0
							}
						},
						"sliderWidthToDevice": {
							"desktopPortrait": 1140,
							"desktopLandscape": 1140,
							"tabletPortrait": 798,
							"tabletLandscape": 0,
							"mobilePortrait": 570,
							"mobileLandscape": 0
						},
						"basedOn": "combined",
						"tabletPortraitScreenWidth": 800,
						"mobilePortraitScreenWidth": 440,
						"tabletLandscapeScreenWidth": 800,
						"mobileLandscapeScreenWidth": 440,
						"orientationMode": "width_and_height",
						"scrollFix": 0,
						"overflowHiddenPage": 0,
						"desktopPortraitScreenWidth": 1200
					},
					"controls": {
						"scroll": 0,
						"drag": 1,
						"touch": "horizontal",
						"keyboard": 1,
						"tilt": 0
					},
					"lazyLoad": 0,
					"lazyLoadNeighbor": 0,
					"blockrightclick": 0,
					"maintainSession": 0,
					"autoplay": {
						"enabled": 1,
						"start": 1,
						"duration": 8000,
						"autoplayToSlide": -1,
						"autoplayToSlideIndex": -1,
						"allowReStart": 0,
						"pause": {
							"click": 1,
							"mouse": "0",
							"mediaStarted": 1
						},
						"resume": {
							"click": 0,
							"mouse": 0,
							"mediaEnded": 1,
							"slidechanged": 0
						}
					},
					"layerMode": {
						"playOnce": 0,
						"playFirstLayer": 1,
						"mode": "skippable",
						"inAnimation": "mainInEnd"
					},
					"parallax": {
						"enabled": 1,
						"mobile": 0,
						"is3D": 0,
						"animate": 1,
						"horizontal": "mouse",
						"vertical": "mouse",
						"origin": "slider",
						"scrollmove": "both"
					},
					"background.parallax.tablet": 0,
					"background.parallax.mobile": 0,
					"initCallbacks": [],
					"allowBGImageAttachmentFixed": false,
					"bgAnimations": 0,
					"mainanimation": {
						"type": "horizontal",
						"duration": 600,
						"delay": 0,
						"ease": "easeOutQuad",
						"parallax": 1,
						"shiftedBackgroundAnimation": 0
					},
					"carousel": 1,
					"dynamicHeight": 0
				});
				new N2Classes.SmartSliderWidgetArrowImage("n2-ss-1", 0.8, 0.7, 0.5);
				new N2Classes.SmartSliderWidgetBulletTransition("n2-ss-1", {
					"overlay": false,
					"area": 12,
					"thumbnails": [],
					"action": "click",
					"numeric": 0
				})
			})
		}));
	</script>
	<!--END head-->



	<!--BEGIN body-->

	<div id="wrapper">
		<div id="top"></div>
		<!--BEGIN .header-pattern-->
		<div class="header-pattern">
			<!--BEGIN .header-border-->

			<div class="header-border">
				<div class="header-border-sticky">
					<!--BEGIN .header-->
					<div class="header">
						<!--BEGIN .container-header-->
						<div class="container container-header header_v0">
							<!--BEGIN #righttopcolumn-->
							<div id="righttopcolumn">
								<!--BEGIN #subscribe-follow-->
								<div id="social">


									<ul class="sc_menu">


										<li><a target="_blank" href="http://air.citytech.cuny.edu/feed/rss/" class="tipsytext" id="rss" name="RSS Feed"><i class="t4p-icon-social-rss"></i></a></li>


										<li><a target="_blank" href="https://www.facebook.com/airat.citytech/" class="tipsytext" id="facebook" name="Facebook"><i class="t4p-icon-social-facebook"></i></a></li>
										<li><a target="_blank" href="https://twitter.com/AIRatCityTech" class="tipsytext" id="twitter" name="Twitter"><i class="t4p-icon-social-twitter"></i></a></li>





										<li><a target="_blank" href="https://www.linkedin.com/" class="tipsytext" id="linkedin" name="LinkedIn"><i class="t4p-icon-social-linkedin"></i></a></li>


									</ul>
								</div>
								<!--END #subscribe-follow-->
							</div>
							<!--END #righttopcolumn-->

							<div class="header-logo-container"><a href="http://air.citytech.cuny.edu/"><img id="logo-image" class="img-responsive" src="public/AIR-Home-RAW_files/AIR-logo-smaller-size.png"></a></div>
							<!--BEGIN .title-container-->
							<div class="title-container ">
								<div id="tagline"></div>
							</div>
							<!--END .title-container-->
						</div>
						<!--END .container-header-->
					</div>
					<!--END .header-->
				</div>
			</div>
			<!--END .header-border-->
		</div>
		<!--END .header-pattern-->
		<div class="content home singular page pageid-2">
			<!--BEGIN .container-->
			<div class="container container-center row">
				<!--BEGIN #content-->
				<div id="content">
					<div class="home-content-boxes">
						<div class="row"></div>
					</div>
					<div class="clearfix"></div>
					<!--BEGIN #primary .hfeed-->

					<div id="primary" class=" col-md-12 col-single">

						<!--BEGIN .hentry-->
						<div id="post-2" class="post-2 page type-page status-publish hentry p publish first-page untagged">
							<div class='entry-content article'>
								
					

									<!-- RENDERED FORMS GO HERE!!!!!!!!!!!!!!!!!!!-->
                    <%- body %>

                  <!-- End Render -->


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!--END #primary .hfeed-->
	</div>



	<!--END #content-->
	</div>
	<!--END .container-->
	</div>
	<!--END .content-->
	</div>
	<!--BEGIN .content-bottom-->
	<div class="content-bottom">
		<!--END .content-bottom-->
	</div>
	<!--BEGIN .footer-->
	<div class="footer">
		<!--BEGIN .container-->
		<div class="container container-footer">
			<div class="footer-widgets">
				<div class="widgets-back-inside row">
					<div class="widget-one-column col-sm-6">
					</div>
					<div class="widget-one-column col-sm-6">
					</div>
					<div class="widget-one-column col-sm-6">
					</div>
					<div class="widget-one-column col-sm-6">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<!-- Theme Hook -->

			<script type="text/javascript">
				var $jx = jQuery.noConflict();
				$jx("div.post").mouseover(
					function () {
						$jx(this).find("span.edit-post").css('visibility', 'visible');
					}
				).mouseout(
					function () {
						$jx(this).find("span.edit-post").css('visibility', 'hidden');
					}
				);
				$jx("div.type-page").mouseover(
					function () {
						$jx(this).find("span.edit-page").css('visibility', 'visible');
					}
				).mouseout(
					function () {
						$jx(this).find("span.edit-page").css('visibility', 'hidden');
					}
				);
				$jx("div.type-attachment").mouseover(
					function () {
						$jx(this).find("span.edit-post").css('visibility', 'visible');
					}
				).mouseout(
					function () {
						$jx(this).find("span.edit-post").css('visibility', 'hidden');
					}
				);
				$jx("li.comment").mouseover(
					function () {
						$jx(this).find("span.edit-comment").css('visibility', 'visible');
					}
				).mouseout(
					function () {
						$jx(this).find("span.edit-comment").css('visibility', 'hidden');
					}
				);
			</script>




			<script type="text/javascript">
				/*----------------------------*/
				/* Animated Buttons
				 /*----------------------------*/

				var $animated = jQuery.noConflict();
				$animated('.post-more').hover(
					function () {
						$animated(this).addClass('animated pulse')
					},
					function () {
						$animated(this).removeClass('animated pulse')
					}
				)
				$animated('.read-more').hover(
					function () {
						$animated(this).addClass('animated pulse')
					},
					function () {
						$animated(this).removeClass('animated pulse')
					}
				)
				$animated('#submit').hover(
					function () {
						$animated(this).addClass('animated pulse')
					},
					function () {
						$animated(this).removeClass('animated pulse')
					}
				)
				$animated('input[type="submit"]').hover(
					function () {
						$animated(this).addClass('animated pulse')
					},
					function () {
						$animated(this).removeClass('animated pulse')
					}
				)
			</script>




			<script type="text/javascript">
				/*----------------*/
				/* AnythingSlider
				 /*----------------*/
				var $s = jQuery.noConflict();
				$s(
					function () {
						$s('#slides')
							.anythingSlider({
								autoPlay: true,
								delay: 7000,
							})
					}
				)
			</script>



			<script type="text/javascript">
				/*----------------*/
				/* Parallax Slider
				 /*----------------*/

				var $par = jQuery.noConflict();
				$par('#da-slider').cslider({
					autoplay: true,
					bgincrement: 450,
					interval: 4000
				});
			</script>


			<script type="text/javascript">
				/*----------------------*/
				/* Bootstrap Slider
				 /*---------------------*/

				var $carousel = jQuery.noConflict();
				$carousel('#myCarousel').carousel({
					interval: 7000
				})

				$carousel('#carousel-nav a').click(
					function (q) {
						q.preventDefault();
						targetSlide = $carousel(this).attr('data-to') - 1;
						$carousel('#myCarousel').carousel(targetSlide);
						$carousel(this).addClass('active').siblings().removeClass('active');
					}
				);
				$carousel('#bootstrap-slider').carousel({
					interval: 7000
				})

				$carousel('#carousel-nav a').click(
					function (q) {
						q.preventDefault();
						targetSlide = $carousel(this).attr('data-to') - 1;
						$carousel('#bootstrap-slider').carousel(targetSlide);
						$carousel(this).addClass('active').siblings().removeClass('active');
					}
				);
				// $('#carousel-rel a').click(function(q){
				//         console.log('Clicked');
				//         targetSlide = (parseInt($('#carousel-rel a.active').data('to')) + 1) % 3;
				//         console.log('targetSlide');
				//         $('#carousel-rel a[data-to='+ targetSlide +']').addClass('active').siblings().removeClass('active');
				//     });
			</script>


			<!--END .container-->
		</div>
		<!--END .footer-->
	</div>
	<!--END body-->
	<a href="http://air.citytech.cuny.edu/#top" id="top-link">
		<div id="backtotop" style="display: none;"></div>
	</a>
	</div>
	<style type="text/css">
		.afc_popup .img {
			position: absolute;
			top: -15px;
			right: -15px;
		}

		@media screen and (min-width:481px) and (max-width:768px) {}

		@media only screen and (min-width: 321px) and (max-width: 480px) {
			.afc_popup {
				margin: 0 !important;
			}
			.afc_popup iframe {
				width: 100% !important;
			}
		}

		@media only screen and (max-width: 320px) {
			.afc_popup {
				margin: 0 !important;
			}
			.afc_popup iframe {
				width: 100% !important;
			}
		}
	</style>
	<script type="text/javascript">
		(function ($) {
			$('.afc_close_content').click(function () {
				var afc_content_id = $(this).closest('div').attr('id');
				$('#' + afc_content_id).hide();
			});
		})(jQuery);
	</script>
	<!-- Custom Facebook Feed JS -->
	<script type="text/javascript">
		var cfflinkhashtags = "true";
	</script>
	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->

	<a name="footer"></a>
	<footer class="c-layout-footer c-layout-footer-3 c-bg-dark citytech">
		<div class="c-postfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 c-col">
						<p class="c-copyright">
							2016 © New York City College of Technology <br> 718-260-5000&nbsp;&nbsp; <br> 300 Jay St, Brooklyn, NY 11201 <br>							View Options: &nbsp;
							<a href="http://assistive.usablenet.com/tt/referrer">Text Only</a> &nbsp;|&nbsp; <span id="__ba_panel"></span></p>
						<p class="c-font-15"><a href="http://www.citytech.cuny.edu/web-info">Website Information</a></p>

					</div>
					<div class="col-md-4 col-sm-12 c-col followUs">
						<h3 class="c-center c-font-white">Follow Us</h3>

						<ul class="c-socials c-center">
							<li>
								<a href="https://www.facebook.com/citytech" target="_blank">
											<i class="icon-social-facebook" title="facebook"></i>
										</a>
							</li>
							<li>
								<a href="https://twitter.com/CityTechNews" target="_blank">
											<i class="icon-social-twitter" title="twitter"></i>
										</a>
							</li>
							<li>
								<a href="https://www.youtube.com/user/NewYorkCityTech/videos" target="_blank">
											<i class="icon-social-youtube" title="youtube"></i>
										</a>
							</li>
							<li>
								<a href="https://www.instagram.com/citytechnews/" target="_blank">
											<i class="icon-social-instagram" title="instagram"></i>
										</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 col-sm-12 c-col">
						<p class="pull-right"><a href="http://www.cuny.edu/" target="_blank"><img src="public/AIR-Home-RAW_files/cuny_logotype_RGB_white.png" alt="CUNY Logo"></a>							</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
	<div class="c-layout-go2top">
		<i class="icon-arrow-up"></i>
	</div>
	<!-- END: LAYOUT/FOOTERS/GO2TOP -->
	<script>
		if (jQuery(".posts-container-infinite").length == 1) {
			var ias = jQuery.ias({
				container: ".posts-container-infinite",
				item: "div.post",
				pagination: "div.pagination",
				next: "a.pagination-next",
			});

			ias.extension(new IASTriggerExtension({
				text: "Load more items",
				offset: 99999
			}));
			ias.extension(new IASSpinnerExtension({
				src: "http://air.citytech.cuny.edu/wp-content/themes/evolve/library/media/images/loader.gif"
			}));
			ias.extension(new IASNoneLeftExtension());
		}
	</script>
	<link rel="stylesheet" id="Css-css" href="public/AIR-Home-RAW_files/calendar-jos.css" type="text/css" media="">
	<link rel="stylesheet" id="wp-color-picker-css" href="public/AIR-Home-RAW_files/color-picker.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="style-css" href="public/AIR-Home-RAW_files/bar.css" type="text/css" media="all">
	<script type="text/javascript" src="public/AIR-Home-RAW_files/tabs.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var js_local_vars = {
			"language_flag": "",
			"infinite_blog_finished_msg": "<em>All posts displayed<\/em>",
			"infinite_blog_text": "<em>Loading the next set of posts...<\/em>",
			"theme_url": "http:\/\/air.citytech.cuny.edu\/wp-content\/themes\/evolve",
			"responsive_menu": "<span class=\"t4p-icon-menu\"><\/span>"
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/main.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/gmap.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/bns-corner-logo-scripts.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/cff-scripts.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var thickboxL10n = {
			"next": "Next >",
			"prev": "< Prev",
			"image": "Image",
			"of": "of",
			"close": "Close",
			"noiframes": "This feature requires inline frames. You have iframes disabled or your browser does not support them.",
			"loadingAnimation": "http:\/\/air.citytech.cuny.edu\/wp-includes\/js\/thickbox\/loadingAnimation.gif"
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/thickbox.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var megamenu = {
			"timeout": "300",
			"interval": "100"
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/maxmegamenu.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/wp-embed.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/jquery.cycle.all.min.js"></script>
	<script type="text/javascript" src="public/AIR-Home-RAW_files/rotating_tweet.js"></script>


	<!--END html(kthxbye)-->


	<!-- Cache Enabler by KeyCDN @ 20.09.2017 03:06:35 (html) -->
</body>

</html>