<% layout('layout') -%>
  
    <script type="text/javascript">
        $(document).ready(function(){
            $('#departments').blur(function(){
                var input = $(this).val().trim();
                var selectedOption = document.querySelector("#dept-list option[value='"+input+"']");
                if(selectedOption){
                    $('#deptID').val(selectedOption.dataset.value);
                } else {
                    console.log("invalid selection");
                }
            });

            $('#departments').focus(function(){
                $('#departments').val('');
            });

            $('#submitDeptID').click(function(){
                console.log('asdas');
                var email = $('#email').val();
                var deptName = $('#departments').val();
                var deptID = $('#deptID').val();
                
                $.ajax({
                    type: 'POST',
                    url: '/getsurveylist',
                    data: {
                        email : email,
                        deptName : deptName,
                        deptID :deptID
                    },
                    success : function(res){
                        console.log(res);
                        $(function(){
                            $.each(res, function(i, item){
                                console.log("ITEM:: "+item);
                                
                        // array.forEach(function(element){
                        //     console.log(element.value);
                        // })       

                        // vs.

                        // for(var i = 0; i < array.length; i++){
                        //     console.log(array[i].value);
                        // }

                                $('#surveyResponseList').append(
                                    '<li class="list-group-item">'+
                                        '<div class="row">'+
                                            '<div class="col-sm-1"></div>'+
                                            '<div class="col-sm-6">'+
                                                '<h3 class="list-group-item-heading">'+ item.survey + '</h4>'+
                                                '<p class="list-group-item-text">'+ item.desc +'</p>'+
                                            '</div>'+
                                            '<div class="col-sm-3">'+
                                                '<p class="list-group-item-text"> Available until : '+ item.date + ' </p>'+
                                                '<p class="list-group-item-text">'+ item.id + '</p>'+
                                            '</div>'+
                                            '<div class="col-sm-1">'+
                                                '<button type="submit" name="startSurvey" value="'+ item.id +'" class="btn startSurvey">Start Survey</button>'+
                                            '</div>'+
                                            '<div class="col-sm-1"></div>'+
                                        '</div>'+
                                    '</li>'
                                )
                            })
                        })
                    }
                })
            })

            $('#submitDeptID').click(function(){
                $('.survey-response-container').hide();
                $('#surveyResponseList').empty();
                $('.survey-response-container').show("fast");
            })

            // https://api.jquery.com/on/  -- Look at Delegated events.
            // Using .on() allows us to process events at a later time after all elements of the page load. 
            // $(document).on('click', '.startSurvey',function(){
            //     var test = $(this).val();
            //     console.log(test);
            // })

            // NOTE-- DO NOT USE AJAX TO PERFORM REDIRECTS
            // $(document).on('click', '.startSurvey',function(){
            //     var surveyId = $(this).val(),
            //         deptId = $('#deptID').val(),
            //         email = $('#email').val();


            //     // $.get('/survey/' + email + '/' + deptId + '/' + surveyId);
            //     $.ajax({
            //         type: 'POST',
            //         url: '/survey',
            //         data : {
            //             email : email,
            //             deptId : deptId,
            //             surveyId : surveyId 
            //         },
            //         success: function(res){
            //             // document.write
            //             // window.location.href = res.data;
            //         }
            //     });
            // })
        })
    </script>

    <div class="survey-container">
        <div class="signup-header">
            <h3 class="heading">Welcome to AIR Surveys</h3>
            <h5 class="heading">To start a survey, please enter in your email and select the department you belong to</h5>
        </div>
        <div class="row">
            <div class="survey">
                <form id='getSurvey' name='getSurvey' class="form-horizontal" >

                    <div class="form-group">
                        <label for="email" class="input-label">Enter in City Tech Email</label>
                        <input name="email" type="text" id="email" placeholder="@.citytech.cuny.edu" required class="form-control stored" />
                    </div>
                    <div class="form-group">
                        <label for="departments" class="input-label">Enter in Department Name to Get List of Surveys</label>
                        <input name="departments" type="text" id="departments" list="dept-list" placeholder="Enter In Department" class="form-control stored"/>
                        <datalist id="dept-list">
                            <%list.departments.forEach( department => {%><option data-value="<%=department.id%>" value="<%=department.name%>"></option><%})%>;
                        </datalist>
                        <!-- Empty input which stores the dept id-->
                        <input type="hidden" name="deptID" id="deptID" />
                    </div>
                
                    <div class="form-group">
                        <button id="submitDeptID" onclick="return false" class="btn btn-success">Start Survey
                    </div>
                </form>
            </div>
        </div>
        <!-- Survey Response Listing -->
        <div hidden class="row survey-response-container">
            <div class="survey-response">
                <label>Available Surveys</label>
                <nav>
                    <form action="/survey" method="post">
                        
                        <ul class="list-group" id="surveyResponseList">
                            <!-- Survey Listing Response Rendered Here-->
                        </ul>
                    </form>
                </nav>
            </div>
        </div>
    </div>
