<% layout('layout') -%>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="public/js/loginSupport.js"></script>

<div class="survey-container">
    <div class="signup-header">
        <h3>Survey Portal</h3>
    </div>
    <div class="row">
        <div class="survey">
            <form id='startSurvey' 
                    name='startSurvey' 
                    method="POST" 
                    class="form-horizontal" 
                    action="startSurvey">
                <div class="form-group">
                    <label for="email" class="input-label">
                        Email
                    </label>
                    <input type="text"
                            name="email"
                            id="email"
                            placeholder="Enter Email"
                            class="form-control stored"
                    />    
                </div>

                <div class="form-group">
                    <label for="branch" class="control-label"></label>        
                    I want to <br><br>
                    <input type="button" name="newSurveyButton" id="newSurveyButton" value="Start a New Survey" class="btn">
                    <input type="button" name="continueSurveyButton" id="continueSurveyButton" value="Continue Existing Survey" class="btn">
                    
                    <div class="newSurvey">
                        <label for="startNewSurvey">Start a New Survey</label>
                        <input type="text" name="enterDepartments" id="enterDepartments" list="departmentList" placeholder="Type to search for survey by department" size="200">        
                        <input type="text" name="enterDepartments" id="enterSurveys" list="surveyList" placeholder="Type to search for survey by survey code" size="200">
                        <datalist id="departmentList">
                            <!--Run a forEach()-->
                        </datalist>
                        <datalist id="surveyList">
                            <!--Run a forEach()-->
                        </datalist>
                    </div>

                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-success"
                                value="start"
                        >
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>