<% layout('layout') -%>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="public/js/loginSupport.js"></script>


<style>
    .survey-container{
        width:400px;
        padding-left: 60px;
    }
    h3{
        padding-right: 20px;
    }
</style>

<div class="survey-container">
    <div class="signup-header">
        <h3>Survey Portal</h3>
    </div>
    <div class="row">
        <div class="survey">
            <form id='startSurvey' 
                    name='startSurvey' 
                    method="GET" 
                    class="form-horizontal" 
                    action="searchSurvey">
                <div class="form-group">
                    <label for="departments" class="input-label">
                        Enter in Department Name to Get List of Surveys
                    </label>
                    <input  name="departments"
                            type="text"
                            list="departments"
                            placeholder="Enter In Department"
                            class="form-control stored"
                    />    
                    <input type="hidden" name="deptartmentId" id="departmentId"/>
                    <datalist id="departments">
                          <!--<%console.log(allDept.departments);%>-->
                          <%allDept.forEach( department => {%> <option data-value="<%=department.id%>" value="<%=department.name%>"></option> <%})%>;
                    </datalist>
                </div>
<!--
                <div class="form-group">
                    <label for="branch" class="control-label"></label>        
                    I want to <br><br>
                    <input type="button" name="newSurveyButton" id="newSurveyButton" value="Start a New Survey" class="btn">
                    <input type="button" name="continueSurveyButton" id="continueSurveyButton" value="Continue Existing Survey" class="btn">
                    
                    <div class="newSurvey">
                        <label for="startNewSurvey">Start a New Survey</label>
                        <input type="text" name="enterDepartments" id="enterDepartments" list="departmentList" placeholder="Type to search for survey by department" size="200">        
                        <input type="text" name="enterDepartments" id="enterSurveys" list="surveyList" placeholder="Type to search for survey by survey code" size="200">
                        <datalist id="departmentList">-->
                            <!--Run a forEach()-->
                        <!--</datalist>
                        <datalist id="surveyList">-->
                            <!--Run a forEach()-->
                        <!--</datalist>
                    </div>
                </div>-->
                <div class="form-group">
                    <button type="submit"
                        class="btn btn-success"
                    >Start Survey
                </div>
            </form>
        </div>
    </div>
</div>