<% layout('layout') -%>
    <form id="localStorageTest" name="signupForm" method="POST" class="form-horizontal" action="/storeSurvey" novalidate>
        
        <div class="form-group">
            <label for="colorName" class="input-label">
                      What is your favorite color?
                  </label>
            <input type="text" name="color" id="colorName" placeholder="Color" class="form-control stored" value="" required/>
        </div>
        <div class="form-group">
             <label for="colorName" class="input-label">
                      What option number do you like?
                  </label>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="High school diploma is required and GED is accepted"> High school diploma is required and GED is accepted</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="High school diploma is require and GED is not accepted"> High school diploma is require and GED is not accepted</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="High school diploma or equivalent is not required"> High school diploma or equivalent is not required</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="No answer"> No answer</label>
            </div>
        </div>
         <div class="form-group">
            <label for="checkboxSample" class="input-label">
                Sample checkboxSample
            </label>
            <div class="checkbox">
                <label><input type="checkbox" name="checkboxOpt" value="Selective admission for out-of-state students"> Selective admission for out-of-state students</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="checkboxOpt" value="Selective admission to some programs"> Selective admission to some programs</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"> Signup</button>
        </div>
        <input name="deptartmentId" id="departmentId" value="<%deptId%>"/>
    </form>
