<% layout('layout') -%>
    <form id="localStorageTest" name="signupForm" method="POST" class="form-horizontal" action="/storeSurvey" novalidate>

        <div class="form-group">
            <label for="colorName" class="input-label">
                      What is your favorite color?
                  </label>
            <input type="text" name="color" id="colorName" placeholder="Color" class="form-control stored" value="" required/>
        </div>


        <div class="form-group">
             <label for="colorName" class="input-label">
                      What option number do you like?
                  </label>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="options1">Options 1</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="options2">Options 2</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioOpt" value="options3">Options 3</label>
            </div>
        </div>


        <div class="form-group">
            <label for="checkboxSample" class="input-label">
                Sample checkboxSample
            </label>
            <div class="checkbox">
                <label><input type="checkbox" name="checkboxOpt" value="opt1">Option 1</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="checkboxOpt" value="opt2">Option 2</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success"> Signup</button>
        </div>
    </form>